<ion-header>
  <div id="barraSuperior">
   
    <div id="barraInferior">
      <ion-row>
      
        <ion-col size=3 >
          <img  id="logo"  src="../../assets/logoNavbar.png">
      
        </ion-col>
        
      
       
         <ion-col size=6>
          <h2 style="text-align: center;color: rgb(246, 183, 118);">CHAT</h2>
       
        
         </ion-col>
        
       </ion-row>

       <ion-row>
         <ion-col size=2></ion-col>
         <ion-col size=8 style="text-align: start;">
          <ion-label style="color:  rgb(49 ,49 ,57);">Presupuesto:{{task.budget}} € </ion-label>
         </ion-col>
         <ion-col size=2>
          <ion-icon  name="close" 
                     (click)="cerrarsolicitud()"
                     style=" width: 28px;height: 28px;margin-top: -3px;color: rgb(49 ,49 ,57)"
         ></ion-icon>
        
         </ion-col>
       </ion-row>
       
        
    </div>
   
   
  </div>



</ion-header>   
    





<ion-content>
  
 
     <ion-grid>

     <ion-text color="medium" text-center>
  <!--     <p>You joined the chat as  </p> -->
    </ion-text>

    
    <ion-row *ngFor="let message of messagesList">
     
      <ion-col size="9" *ngIf="user.type != 'client'" class="message other-message">
        <!-- <b>{{message.author}}</b><br> -->
        <span>{{ message.message }}</span>
        <div class="time" text-right><br>15 min</div>
      </ion-col>
     
     
        <ion-col offset="3" size="9" *ngIf="user.type == 'client'" class="message my-message">
         <!--  <b style="font-size: xx-small;">{{message.author}}</b> -->
          <span>{{ message.message }}</span>
          <div class="time" text-right><br>12 min</div>
        </ion-col>
  
  
      
     
    </ion-row>
  </ion-grid>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu de cambios</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        
      <br>
      <br>
       

 
         <ion-label style="margin-left: 10px;">Fecha</ion-label>
         <ion-datetime displayFormat="DD MMMM,YYYY" 
        placeholder="Cambiar fecha"
        cancelText="cancelar"
        doneText="Cambiar"
        [(ngModel)]="fecha"
        style="margin-left: 100px;"></ion-datetime>



<br>


  <ion-label style="margin-left: 10px;">Hora</ion-label>
  <ion-datetime displayFormat="h:mm a"
                placeholder="Cambiar horario"
                [(ngModel)]="reloj"
                cancelText="cancelar"
                doneText="Cambiar"
                style="margin-left: 100px;"></ion-datetime>
   
        <br>
        <br>
        <br>
<ion-row>
  <ion-col size=3></ion-col>
  <ion-col size=4> 
    <ion-button (click)="actualizar()">Actualizar</ion-button>
  </ion-col>
 
  <ion-col size=5></ion-col>
</ion-row>
       
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>




 <ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="8">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message.message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="tertiary" class="msg-btn"
          (click)="adjuntar()">
          <ion-icon name="attach" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="tertiary" [disabled]="message.message === ' '" class="msg-btn"
          (click)="enviarSMS()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


<p-dialog header=""
          [(visible)]="displayAdjunto" 
          [modal]="true"  
          [style]="{ width: '85vw' }" 
          [baseZIndex]="1000" 
           [draggable]="false" 
           [resizable]="false"
           icon="attach" 
           position="bottom">

           
            <ion-row>
              <ion-col style="text-align: center ;" (click)="documento()">
                <ion-row>   <img style="width:39px;height: 44px;margin-left: 20px; " src="../../../assets/documento.png">
                </ion-row>
                <ion-row> <ion-label style="font-size: small;margin-left: 8px;"
                  >Documento</ion-label></ion-row>
              
              </ion-col>
              <ion-col (click)="camara()">
                <ion-row>
                  <img style="width:44px;height: 40px;margin-left: 8px;" src="../../../assets/cam.png">
                </ion-row>
                <ion-row>
                  <ion-label style="font-size: small;margin-left: 8px;" >Camara</ion-label>
                </ion-row>
                 </ion-col>
              <ion-col (click)="galeria()">
                       <ion-row>
                        <img style="width:44px;height: 40px;margin-left: 14px;" src="../../../assets/galeria.png">
                       </ion-row>
                       <ion-row>
                        <ion-label style="font-size: small;margin-left: 14px;">Galeria</ion-label>
                      </ion-row>
              
              </ion-col>
            </ion-row>
            
          
           
      
              
                
            
        
              
           
            
         

            
            
 
  </p-dialog>

 