#barraSuperior{
  width: 100%;
  height: 108px;
  
  background-color: rgb(246, 183, 118);
}

#barraInferior{
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 20px 0px;
  background-color: rgb(49 ,49 ,57);
}

#logo{
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-left: 6px;
  
}



#barra{
  background-color :rgb(241, 241, 241);
  width: 100%;
  height: 45px;
  
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
 text-align: center;
 
}


textarea{
    border: 1px solid  rgb(246, 183, 118);
    
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
   
}
textarea:focus-within{
    border: 3px solid  rgb(246, 183, 118);
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

#barraInferior{
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 20px 0px;
    background-color: rgb(49 ,49 ,57);
}



ion-button{
   
    border: 1px   rgb(246, 183, 118);
}


/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
  height: 100vh;
}
.contenedo_msj {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 300px;
}

.contenedo_msj .mensaje-izq,
.contenedo_msj .mensaje-der {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
}
.contenedo_msj .mensaje-der {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.contenedo_msj .mensaje-izq .avatar,
.contenedo_msj .mensaje-der .avatar {
  display: block;
  background-color: #e8ecf1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.mensaje-izq .cuerpo_msj,
.mensaje-der .cuerpo_msj {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin-left: 20px;
  width: calc(100% - 50px - 20px);
  position: relative;
}
.contenedo_msj .mensaje-izq .cuerpo_msj {
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.contenedo_msj .mensaje-der .cuerpo_msj {
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.mensaje-der .cuerpo_msj {
  margin-right: 5px;
  margin-left: 20;
}
.mensaje-izq .cuerpo_msj .msj-texto,
.mensaje-der .cuerpo_msj .msj-texto {
  padding: 10px;
  font-size: 0.8em;
  background-color: #e8ecf1;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
}
.mensaje-der .cuerpo_msj .msj-texto {
  background-color: #dcebff;
}

.mensaje-izq .cuerpo_msj .tiempo,
.mensaje-der .cuerpo_msj .tiempo {
  font-size: 0.75em;
  color: #929292;
  display: inline-block;
  padding: 0 5px;
}

.mensaje-izq .cuerpo_msj .tiempo i,
.mensaje-der .cuerpo_msj .tiempo i {
  margin-right: 0.5rem;
}

.mensaje-izq .cuerpo_msj:before,
.mensaje-der .cuerpo_msj:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 13px 13px 13px 13px;
  top: 5px;
}
.mensaje-izq .cuerpo_msj:before {
  border-right-color: #e8ecf1;
  left: -25px;
}
.mensaje-der .cuerpo_msj:before {
  border-left-color: #dcebff;
  right: -25px;
} */

//-------------------------------------


/* .triangulo-equilatero-bottom-left {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid transparent;
  border-left: 50px solid rgb(246, 183, 118);
  border-bottom: 50px solid rgb(246, 183, 118);
} */

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;



}

.my-message {
  background: rgb(246, 183, 118);
  //background: var(--ion-color-tertiary);
  color: #fff;
}

.other-message {
  background: var(--ion-color-secondary);
  color: #fff;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}

.message-input {
  margin-top: 0px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

:host ::ng-deep .p-dialog {
  border-radius: 15px !important;
  .p-dialog-content {
      border-radius: 0px 0px 15px 15px;
  }
.p-dialog-header {
  background-color: white;
  color: black;
  border-radius: 15px 15px 0px 0px;
  padding: 0.5rem;
  }
}