<ion-header class="ion-no-border">
  <app-header
    headerText="CHAT"
    [fillBackground]="false"
    class="animated fadeIn"
  ></app-header>
  <div class="flex_row barra"></div>

  <div  class="flex_row pres_container">
    <div class="flex_row div_presupuesto">
      <ion-label class="label_presupuesto"
        >PRESUPUESTO: {{ task.budget }} €</ion-label
      >
    </div>

    <div
      style="
        width: 70px;
        
        display: flex;
        align-items: center;
        justify-content: flex-start;
      "
    >
      <ion-icon
        name="close-circle-outline"
        style="height: 25px; width: 25px"
        (click)="onClose()"
      ></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content #content>

 <!--  <div id="barra">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="6">
        <ion-label
          style="
            color: rgb(49, 49, 57);
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 19px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            text-align: center;
            margin-top: 11px;
          "
          >Presupuesto: {{task.budget}} €</ion-label
        >
      </ion-col>
      <ion-col size="3"></ion-col>
      <ion-col size="2">
        <ion-icon
          name="close"
          (click)="cerrarsolicitud()"
          style="
            width: 28px;
            height: 28px;
            color: rgb(49, 49, 57);
            font-family: 'HelveticaNeueLTStd-Bd';
            font-size: 19px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            text-align: center;
            margin-top: 11px;
          "
        ></ion-icon>
      </ion-col>
    </ion-row>
  </div>
 -->
  <div
    class="flex_column"
    style="height: 100%; width: 100%"
  >
    <div style="width: 105%; height: 100%; display: flex; flex-direction: row; min-height: 100px;">

    
      
      <div class="div_chat" #target *ngIf="!chat_vacia">
        <ion-row
          class="chat_bubble"
          lines="none"
          [ngClass]="(user.partner_id ==  message.author_id) ? 'align_right' : 'align_left'"
          *ngFor="let message of messagesList"
        >
          <ng-container
            *ngIf="(user.partner_id ==  message.author_id ); else elseTemplate"
          >
            <div
              style="width: auto; height: auto; max-width: 80%"
              [ngClass]="( message.message === ultimo_sms) ? 'bubble_chat_me' : 'bubble_chat_me_old'"
            >
              <div>{{ message.message }}</div>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div
              style="width: auto; height: auto; max-width: 80%"
              [ngClass]="( message.message === sms_cliente) ? 'bubble_chat_others' : 'bubble_chat_others_old'"
            >
              <div>{{ message.message }}</div>
            </div>
          </ng-template>
        </ion-row>
      </div>

      <div *ngIf="chat_vacia" class="flex_column">
        <div class="flex_row" class="flex_centered" style="margin-top: 60px">
          <img
            style="width: 55%; height: 55%"
            src="../../../assets/icons/vacio.svg"
          />
        </div>
        <div class="flex_row" class="flex_centered" style="margin-top: 0px">
          <h4 style="color: lightgray; margin-top: 0px">Chat vacio</h4>
        </div>
      </div>

      <div style="height: 100%; width: 5%"></div>
    </div>
    <!-- ************************************************** -->
    
     <ion-footer  class="ion-no-border" >
      <div  style="display: flex; justify-content: center; ">
        <div class="flex_row chat_container">
          <ion-textarea
            class="text_area"
            auto-grow
            cols="1"
            rows="1"
            inputmode="text"
            placeholder="Escriba un mensaje..."
            autofocus
            [(ngModel)]="message.message"
          >
          </ion-textarea>
  
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
            "
          >
            <ion-button fill="clear" class="send_btn" (click)="pushToChat()">
              <ion-icon
                name="send"
                color="greenblue"
                style="min-width: 25px; min-height: 30px"
              ></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </ion-footer> 
  </div>

  <!-- <ion-grid style="margin-top: 30px">
    <div *ngFor="let message of messagesList">
      <div *ngIf="user.partner_id !=  message.author_id ">
        <div class="received-chats">
          <div class="received-chats-msg">
            <p>{{ message.message }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="user.partner_id ==  message.author_id ">
        <div class="outgoing-chats">
          <div class="outgoing-chats-msg">
            <p>{{ message.message }}</p>
          </div>
        </div>
      </div> -->

      <!-- <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Menu de cambios</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <br />
            <br />

            <ion-label style="margin-left: 10px">Fecha</ion-label>
            <ion-datetime
              displayFormat=" DD MMMM,YYYY"
              placeholder="Cambiar fecha"
              cancelText="Cancelar"
              doneText="Cambiar"
              [(ngModel)]="fecha"
              style="margin-left: 100px"
            ></ion-datetime>

            <br />

            <ion-label style="margin-left: 10px">Hora</ion-label>
            <ion-datetime
              displayFormat="h:mm a"
              placeholder="Cambiar horario"
              [(ngModel)]="reloj"
              cancelText="cancelar"
              doneText="Cambiar"
              style="margin-left: 100px"
            ></ion-datetime>

            <br />
            <br />
            <br />
            <ion-row>
              <ion-col size="3"></ion-col>
              <ion-col size="4">
                <ion-button (click)="actualizar()">Actualizar</ion-button>
              </ion-col>

              <ion-col size="5"></ion-col>
            </ion-row>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main"></ion-router-outlet> -->

    <!-- </div>
  </ion-grid> -->
</ion-content>

<!-- <ion-footer style="position: unset;" >
   <ion-toolbar style="background-color: rgb(255, 255, 255);">
    <ion-row align-items-center>
      <ion-col size="10" >
         <ion-textarea auto-grow class="message-input" rows="1" 
                      [(ngModel)]="message.message"
                      placeholder="Escribe un mensaje"
                     >
               
                    </ion-textarea> 
                   
                       
                     
                     
                 
                     
      </ion-col>

     
        <ion-col size="2" style="display: flex;
        align-items: center;
        justify-content: center;"> 
          
       <ion-fab-button   color="tertiary" 
                       
                      [disabled]="message.message === ' '"
                      (click)="enviarSMS()" 
                      style="width: 38px; 
                             height: 38px; 
                             display: flex;
    align-items: center;
    justify-content: center;
                             ">
                      <ion-icon name="send"></ion-icon>
         </ion-fab-button> 
       
       </ion-col>  
     
    </ion-row>
  </ion-toolbar>  -->

<!-- <p-dialog header=""
          [(visible)]="displayAdjunto" 
          [modal]="true"  
          [style]="{ width: '85vw' }" 
          [baseZIndex]="1000" 
           [draggable]="false" 
           [resizable]="false"
           icon="attach" 
           position="bottom">

           
            <ion-row>
             
              <ion-col size=4 style="text-align: start ;padding: 0px;" (click)="documento()">
                <ion-row>  
                   <img style="width:44px;height: 40px;
                               max-width:  100%;
                               width: 100%;
                              flex: 100%;"   src="../../../assets/doc.svg">
                </ion-row>
                <ion-row> 
                  <ion-label style="font-size: small;flex: 100%;text-align: center;margin-top: 1.5px;"
                  >Documento</ion-label>
                </ion-row>
              
              </ion-col>
              <ion-col  size=4 style="align-items: center ;padding: 0px;"  (click)="camara()">
                <ion-row>
                  <img style="width:44px;height: 40px; max-width:  100%;
                              width: 100%;
                              flex: 100%;"  src="../../../assets/cama.svg">
                </ion-row>
                <ion-row>
                  <ion-label style="font-size: small;flex: 100%;text-align: center;margin-top: 1.5px" >Camara</ion-label>
                </ion-row>
                 </ion-col>
              <ion-col size=4 style="align-items: end ;padding: 0px;"  (click)="galeria()">
                       <ion-row >
                        <img style="width:44px;height: 40px; 
                                    max-width:  100%;
                                    width: 100%;
                                    flex: 100%;" 
                                    src="../../../assets/galer.svg">
                       </ion-row>
                       <ion-row >
                        <ion-label style="font-size: small;flex: 100%;text-align: center;margin-top: 1.5px">Galeria</ion-label>
                      </ion-row>
              
              </ion-col>
              
            </ion-row>
                  
 
  </p-dialog> -->
