#barraSuperior{
  width: 100%;
  height: 105px;
  
  background-color: rgb(246, 183, 118);
}

 #barraInferior{
  width: 100%;
  height: 70px;
  border-radius: 0px 0px 20px 0px;
  background-color: rgb(49 ,49 ,57);
} 

#logo{
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-left: 6px;
  
}



#barra{
  background-color :rgb(241, 241, 241);
  width: 100%;
  height: 45px;
  
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
 text-align: center;
 
}


/* textarea{
    border: 1px solid  rgb(246, 183, 118);
    
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
   
}
textarea:focus-within{
    border: 3px solid  rgb(246, 183, 118);
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
} */

 #barraInferior{
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 20px 0px;
    background-color: rgb(49 ,49 ,57);
}



ion-button{
 
  color: rgb(49 ,49 ,57);
  border-radius: 5px 5px 5px 5px ;
  font-family: 'HelveticaNeueLTStd-Bd';
}





.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: normal;
  
}

.my-message {
  background: rgb(246, 183, 118);
  //background: var(--ion-color-tertiary);
  color: #fff;

}

.other-message {
  background: var(--ion-color-secondary);
  color: #fff;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}

.message-input {
  margin-top: 0px;
  border: 1px solid var(--ion-color-medium); 
  border-radius: 10px;
  background: #fff;
  padding-left: 5px;
 /*  border-top: 1px solid var(--ion-color-medium);
  border-left: 1px solid var(--ion-color-medium);
  border-bottom: 1px solid var(--ion-color-medium); */
}
.message-input1 {
  margin-top: 0px;
  /* border: 1px solid var(--ion-color-medium); */
  border-radius: 10px,0px,0px,10px;
  background: #fff;
  padding-right: 5px;
  border-top: 1px solid var(--ion-color-medium);
  border-right: 1px solid var(--ion-color-medium);
  border-bottom: 1px solid var(--ion-color-medium);
}

/*  .msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}  */

:host ::ng-deep .p-dialog {
  border-radius: 15px !important;
  .p-dialog-content {
      border-radius: 0px 0px 15px 15px;
  }
.p-dialog-header {
  background-color: white;
  color: black;
  border-radius: 15px 15px 0px 0px;
  padding: 0.5rem;
  }
}

////-------------------

.chat-page {
  padding: 0 0 50px 0;
  margin-top: -8px;
}

.msg-inbox {
  border: 1px solid #ccc;
  overflow: hidden;
  padding-bottom: 2px;
  background: white;
}

.chats {
  padding: 30px 15px 0 25px;
  height: 516px;
  overflow-y: auto;
}

.received-msg-inbox p {
  background: #ccc none repeat scroll 0 0;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.received-msg-inbox {
  display: inline-block;
  padding: 0 0 10px 10px;
  vertical-align: top;
  min-width: 20%;
  max-width: 57%;
}

.outgoing-chats {
  overflow: hidden;
  margin: 26px 20px;
}

.outgoing-chats-msg {
  float: left;
  max-width: 57%;
  float: right;
}

.outgoing-chats-msg p {
  background: #f6b776 none repeat scroll 0 0;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
