#barraSuperior{
  width: 100%;
  height: 108px;
  
  background-color: rgb(246, 183, 118);
}

/* #barraInferior{
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 20px 0px;
  background-color: rgb(49 ,49 ,57);
} */

#logo{
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-left: 6px;
  
}



#barra{
  background-color :rgb(241, 241, 241);
  width: 100%;
  height: 45px;
  
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
 text-align: center;
 
}


/* textarea{
    border: 1px solid  rgb(246, 183, 118);
    
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
   
}
textarea:focus-within{
    border: 3px solid  rgb(246, 183, 118);
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
} */

 #barraInferior{
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 20px 0px;
    background-color: rgb(49 ,49 ,57);
}



ion-button{
 
  color: rgb(49 ,49 ,57);
  border-radius: 5px 5px 5px 5px ;
  font-family: 'HelveticaNeueLTStd-Bd';
}





.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: normal;




}

.my-message {
  background: rgb(246, 183, 118);
  //background: var(--ion-color-tertiary);
  color: #fff;
 
}

.other-message {
  background: var(--ion-color-secondary);
  color: #fff;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}

.message-input {
  margin-top: 0px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;
}

/*  .msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}  */

:host ::ng-deep .p-dialog {
  border-radius: 15px !important;
  .p-dialog-content {
      border-radius: 0px 0px 15px 15px;
  }
.p-dialog-header {
  background-color: white;
  color: black;
  border-radius: 15px 15px 0px 0px;
  padding: 0.5rem;
  }
}