<ion-header>
  <div id="barraSuperior">
    <div id="barraInferior">
    
     <img  id="logo" slot="start" src="../../assets/logoNavbar.png">
    
    </div>
    <h2 style="text-align: center; margin-top: 2px;color: rgb(49 ,49 ,57);">Nueva Solicitud</h2>
    
  </div>
</ion-header>



<ion-content>
  <ion-slides pager="true">

    <ion-slide >
     <ion-card>
      
      <div id="barra">
        <ion-label >¿Dispone de los materiales?</ion-label>
     </div>


     <ion-list style="margin-top: 20px;">
      <ion-item >
        <ion-checkbox mode="ios"
                      color="primary"
                      [disabled]="checkNo"
                      [(ngModel)]="checkSi"
                  (click)="checkSiF()"></ion-checkbox>
    <ion-label style="margin-left: 20px;">Si</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-checkbox mode="ios"
        color="primary"
        [disabled]="checkSi"
        [(ngModel)]="checkNo"
        (click)="checkNoF()"
       ></ion-checkbox>
    <ion-label style="margin-left: 20px;">No</ion-label>
      </ion-item>
    </ion-list>
  

     </ion-card>
       
   
    </ion-slide>

    <ion-slide>

      <ion-card>

    
     </ion-card>

    </ion-slide>
   
    <ion-slide>
      <ion-card>
        <div id="barra">
          <ion-label >Direccion en que se realiza el servicio</ion-label>
        </div>
       <ion-grid>

        <ion-item style="margin-top:35px ;">
         <ion-checkbox mode="ios"
                       
         ></ion-checkbox>
     <ion-label style="margin-left: 20px;">Llenar con los datos de mi direccion</ion-label>
       </ion-item>
     
       
     
       
        <ion-row style="margin-top:25px ;">
         
     
         <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
     
         <ion-col size="5">
           <ion-input name="calle"
                       type="text"
                       placeholder="No. de calle"
                       [(ngModel)]="calle"
                       ></ion-input>
                     </ion-col>
                 
                     <ion-col size="5" 
                               style="margin-left: 15px;">
                       <ion-input name="piso"
                                   type="text"
                                   placeholder="Piso"
                                   [(ngModel)]="piso"
                                   ></ion-input>
                                 </ion-col>
                   
                                 <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
         
        </ion-row>
     
        <ion-row>
         <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
     
         <ion-col size="5">
           <ion-input name="numero"
                       type="text"
                       placeholder="Numero"
                       [(ngModel)]="numero"
                       ></ion-input>
                     </ion-col>
                 
                     <ion-col size="5"   style="margin-left: 15px;">
                       <ion-input name="puerta"
                                   type="text"
                                   placeholder="Puerta"
                                   [(ngModel)]="puerta"
                                   ></ion-input>
                                 </ion-col>
                   
                                 <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
         
        </ion-row>
     
        <ion-row>
         <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
     
         <ion-col size="5">
           <ion-input name="portal"
                       type="text"
                       placeholder="Portal"
                       [(ngModel)]="portal"
                       ></ion-input>
                     </ion-col>
                 
                     <ion-col size="5"   style="margin-left: 15px;">
                       <ion-input name="cod_postal"
                                   type="text"
                                   placeholder="Cod.Postal"
                                   [(ngModel)]="cod_postal"
                                   ></ion-input>
                                 </ion-col>
                   
                                 <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
      
        </ion-row>
     
        <ion-row>
         <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
      
         <ion-col size="5">
           <ion-input name="escalera"
                       type="text"
                       placeholder="Escalera"
                       [(ngModel)]="escalera"
                       ></ion-input>
                     </ion-col>
                 
                     <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
      
                     
                      
                       <ion-col size="3" style="text-align: end; margin-top: 5px;" >
                         <div>
                           <img   id="logo1"  src="../../assets/ubicacion.png"
                           (click)="localizacion()"> 
                         </div>
                       </ion-col>
     
                      
                       <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
      
                                 
                   
                    
        </ion-row>
     
       
                     
       <ion-label>Longi={{longuitud}}</ion-label>
       <ion-label>lati={{latitud}}</ion-label>
     
     
     </ion-grid>
       </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <div id="barra">
   
          <ion-label >Describa el servicio que necesita (opcional)</ion-label>
       
       
       
       </div>

       <ion-grid>
        <ion-row style="margin-top: 45px;">
          <ion-col size=1>
      
          </ion-col>
      
          <ion-col size=10 style="text-align: center;margin-top: 60x;">
            <textarea name="Text1" cols="40" rows="5"
                          [(ngModel)]="comentario"></textarea>
          </ion-col>
      
          <ion-col size=1>
      
          </ion-col>
        </ion-row>
      </ion-grid>
       
      
       </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <div id="barra">
   
          <ion-label >Fotos del proyecto</ion-label>
       
       
       
       </div>

       <ion-grid>
        <ion-row style="margin-top: 35px;text-align: center;">
          <ion-col size=2>
           
          </ion-col>
          <ion-col>
            <img src="../../assets/noImage.png">
          </ion-col>
          <ion-col >
            <img src="../../../assets/noImage.png">
          </ion-col>
          <ion-col size=2>
           
          </ion-col>
        </ion-row>
      
      
        <ion-row style="margin-top: 35px;text-align: center;">
          
          <ion-col size=1>
            
          </ion-col>
          <ion-col size=1>
            
          </ion-col>
      
          <ion-col size=8>
           
            <img src="../../assets/noImage.png">
          </ion-col>
      
          <ion-col size=1 >
            
          </ion-col>
          <ion-col size=1>
            
          </ion-col>
        </ion-row>
      
      
      
       
      </ion-grid>

      <!-- lo nuevo -->

      <ion-grid>
        <ion-row>
        <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
        </ion-col>
        </ion-row>
      </ion-grid>
    
    
       </ion-card>

    </ion-slide>


    <ion-slide >
      <ion-card>
       
       <div id="barra">
         <ion-label >Resumen</ion-label>
      </div>
 
 
   <ion-item-group>
     <ion-item>
       <ion-col>
         <ion-row>
          <ion-label>¿Dispone de los materiales?</ion-label>
         </ion-row>
         <ion-row>

          <ion-label *ngIf=" checkSi">Si</ion-label>
          <ion-label *ngIf=" checkNo">No</ion-label>
         </ion-row>
       </ion-col>
       
       
     </ion-item>
     <ion-item>
      <ion-label>Fecha y Hora</ion-label>
    </ion-item>
    <ion-item>
      <ion-col>
        <ion-row>
          <ion-label>Mi direccion es</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>calle:{{calle}},numero:{{numero}},piso:{{piso}}</ion-label>
          <ion-label>escalera:{{escalera}},portal:{{portal}} y codigo P:{{cod_postal}}</ion-label>
        </ion-row>
       
      </ion-col>
     
    </ion-item>
    <ion-item>
      <ion-col>
        <ion-row>
          <ion-label>Comentario</ion-label>
        </ion-row>
        <ion-row>
          <p>{{comentario}}</p>
        </ion-row>
      </ion-col>
    

    </ion-item>
   </ion-item-group>
   
   <ion-row style="margin-top: 90px;">
    <ion-col size=2></ion-col> 

     <ion-col>
      <ion-button size=4
      routerLink='/tabs/tab1'>Cancelar</ion-button>
     </ion-col>

     <ion-col>
      <ion-button size=4
                  (click)="crearSolicitud()"
                  routerLink='/tabs/tab1'>Crear</ion-button>
     </ion-col>

     <ion-col size=2></ion-col> 
   </ion-row>

   
      </ion-card>
        
    
     </ion-slide>
  </ion-slides>
</ion-content>
