<ion-header>
  
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size=1></ion-col>
      <ion-col size=10 style="text-align:center;">
       <h1 style="color:  rgb(246, 183, 118); margin-top: 35px;">CREAR CUENTA</h1>
   
      </ion-col>
      <ion-col size=1></ion-col>
    </ion-row>



   
    
      <ion-row  style="margin-top: 25px;">
        <ion-col size=3.5></ion-col>

        <ion-col size=5 style="text-align:center;">
           <ion-card *ngIf="avatarusuario" >
                    <img id="selecf" [src]="avatarusuario | safeUrlPipe "
                    (click)="presentAlertConfirm()" >
                  </ion-card>
                  
        </ion-col>

 
        <ion-col size=3.5></ion-col> 
      </ion-row>
 
    

    

        
            
       
  
   

  
        
  <form #formulario="ngForm">

         <ion-row id="datos">
           <ion-col >
             
               <ion-list>
                <!--  <div id="datos">
                 <ion-row>
                   <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                   <ion-col size="11">
                     <ion-label>Nombre y Apellido</ion-label>
                   </ion-col>
                 </ion-row>
               </div> -->

                   <ion-row >
                     <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                     <ion-col size="10">
                       <ion-input name="nombre"
                                   type="text"
                                   required
                                   [(ngModel)]="nombre"
                                   placeholder="Nombre y Apellido"
                                   #nom_apell="ngModel"
                                   ></ion-input>
                                   <div id="link">
                                    <small *ngIf= "nom_apell.invalid && nom_apell.touched"   
                                    class="text-danger">Debe escribir su nombre completo</small>
                                   </div>
                                 </ion-col >
                                 <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                   </ion-row>
                  

          
                  
                  
                  <ion-row style="margin-top:7px ;">
                    <ion-col size="1.2" style="background: rgb(255, 255, 255);"></ion-col>
                    <ion-col size="9.6" *ngIf= "calen == false "
                                                style="border-radius: 5px 5px 5px 5px;
                                                height: 41px;  
                                                background-color: rgb(245, 245, 245);">
                     
                      <ion-datetime displayFormat="DD MMMM,YYYY" 
                      name="calendario"
                     
                      cancelText="Cancelar"
                      doneText="Cambiar"
                      [(ngModel)]="fecha"
                      placeholder="Fecha de nacimiento"
                      #cal="ngModel"
                      
                      required
                      style="margin-left: 0px;padding-left: 0px;padding-bottom: 5px;">
                    </ion-datetime>
                    <div id="link">
                      <small *ngIf= "calen "   
                      class="text-danger">Debe ser mayor de 18 años</small>
                     </div>
                    </ion-col>

                    <ion-col size="9.6" *ngIf= "calen "
                                                style="border-radius: 5px 5px 5px 5px;
                                                height: 41px;  
                                                background-color: rgb(245, 245, 245);
                                                border: 2px solid rgb(101,173,172) !important;">
                     
                      <ion-datetime displayFormat="DD MMMM,YYYY" 
                      name="calendario"
                     
                      cancelText="Cancelar"
                      doneText="Cambiar"
                      [(ngModel)]="fecha"
                      placeholder="Fecha de nacimiento"
                      #cal="ngModel"
                      
                      required
                      style="margin-left: 0px;padding-left: 0px;padding-bottom: 5px;">
                    </ion-datetime>
                    <div id="link">
                      <small *ngIf= "calen "   
                      class="text-danger">Debe ser mayor de 18 años</small>
                     </div>
                    </ion-col>

                 <!--    //** -->

                 
                   
                    <ion-col size="1.2" style="background: rgb(255, 255, 255);"></ion-col>
                  </ion-row>
                  
   
                 <!--      <ion-row >
                        <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                        <ion-col size="10">
                          <ion-input name="fecha"
                                      type="text"
                                      required
                                      placeholder="2021-02-20"
                                      [(ngModel)]="fecha"
                                      
   
                                      ></ion-input>
                                    </ion-col >
                                    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                      </ion-row> -->
                           

                 <!--   <div id="datos">
                     <ion-row>
                       <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                       <ion-col size="11">
                         <ion-label>Correo</ion-label>
                       </ion-col>
                     </ion-row>
                   </div> -->
   
                       <ion-row  style="margin-top: 7px;">
                         <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                         <ion-col size="10">
                           <ion-input name="correo"
                                       type="text"
                                       required
                                       placeholder="Correo"
                                       [(ngModel)]="correo" 
                                       #corr="ngModel"
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                       ></ion-input>
                                       <div id="link">
                                        <small *ngIf= "corr.invalid && corr.touched"   
                                        class="text-danger">Debe escribir su correo correctamente</small>
                                       </div>
                                     </ion-col >
                                     <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                       </ion-row>
                    <!--    <div id="datos">
                        <ion-row>
                          <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                          <ion-col size="11">
                            <ion-label>Contraseña</ion-label>
                          </ion-col>
                        </ion-row>
                      </div> -->
                       <ion-row >
                        <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                        <ion-col size="10">
                          <ion-input name="password"
                                      type="password"
                                      required
                                      placeholder="Contraseña"
                                      minlength=5
                                      #contra="ngModel"
                                      [(ngModel)]="pass"
                                     ></ion-input>
                                      <div id="link">
                                        <small *ngIf= "contra.invalid && contra.touched"   
                                        class="text-danger">Su contraseña debe ser de 5 caracteres</small>
                                       </div>
                                    </ion-col >
                                    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                      </ion-row>

                      <!-- <div id="datos">
                        <ion-row>
                          <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                          <ion-col size="11">
                            <ion-label>Confirmar contraseña</ion-label>
                          </ion-col>
                        </ion-row>
                      </div> -->
                      <ion-row >
                        <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                        <ion-col size="10">
                          <ion-input name="ppassword"
                                      type="password"
                                      required
                                      minlength=5
                                      placeholder="Confirmar contraseña"
                                      [(ngModel)]="ppass"
                                      #ccontra="ngModel"
                                     ></ion-input>
                                      <div id="link">
                                        <small *ngIf= "ccontra && ccontra.invalid && ccontra.touched"   
                                        class="text-danger">No coincide con su contraseña</small>
                                       </div>
                                    </ion-col >
                                    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                      </ion-row>



                      <!-- <div id="datos">
                        <ion-row>
                          <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                          <ion-col size="11">
                            <ion-label>Telefono</ion-label>
                          </ion-col>
                        </ion-row>
                      </div> -->
                      <ion-row >

                        <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                        <ion-col size="10">
                          <ion-input name="telefono"
                                      type="tel"
                                      required
                                      [(ngModel)]="telefono"
                                      minlength=8
                                      placeholder="Telefono"
                                      #tele="ngModel"
                                      ></ion-input>

                                      <div id="link">
                                        <small *ngIf= "tele.invalid && tele.touched"   
                                        class="text-danger">El telefono contiene 8 digitos</small>
                                       </div>
                                    </ion-col >
                                    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                      </ion-row>
                   <!--    <div id="datos">
                        <ion-row>
                          <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                          <ion-col size="11">
                            <ion-label>Direccion</ion-label>
                          </ion-col>
                        </ion-row>
                      </div> -->
                      
                    <ion-row>
                        <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                    
                        <ion-col size="10">
                          <ion-input name="calle"
                                      type="text"
                                      [(ngModel)]="calle"
                                      placeholder="Calle"
                                      #call="ngModel"
                                      required
                                      
                                      ></ion-input>
                                      <div id="link">
                                        <small *ngIf= "call.invalid && call.touched"   
                                                class="text-danger">Campo obligatorio</small>
                                       </div>
                           </ion-col>
                                
                           <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                        
                       </ion-row>
                    
                       <ion-row>
                        <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                    
                        <ion-col size="5">
                          <ion-input name="numero"
                                      type="number"
                                      placeholder="Numero"
                                      [(ngModel)]="numero"
                                      #num="ngModel"
                                      required
                                      ></ion-input>
                                      <div id="link">
                                        <small *ngIf= "num.invalid && num.touched"   
                                        class="text-danger">Campo obligatorio</small>
                                       </div>
                                    </ion-col>
                                
                                    <ion-col size="5"   style="margin-right: 5px;">
                                      <ion-input name="puerta"
                                                  type="number"
                                                  placeholder="Puerta"
                                                  [(ngModel)]="puerta"
                                                  #pue="ngModel"
                                                  
                                                  ></ion-input>
                                                  <div id="link">
                                                    <small *ngIf= "pue.invalid && pue.touched"   
                                                    class="text-danger">Campo obligatorio</small>
                                                   </div>
                                                </ion-col>
                                  
                                                <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                        
                       </ion-row>
                    
                       <ion-row>
                        <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                    
                        <ion-col size="5">
                          <ion-input name="portal"
                                      type="number"
                                      placeholder="Portal"
                                      [(ngModel)]="portal"
                                      #port="ngModel"
                                      
                                      ></ion-input>
                                      <div id="link">
                                        <small *ngIf= "port.invalid && port.touched"   
                                        class="text-danger">Campo obligatorio</small>
                                       </div>
                                    </ion-col>
                                
                                    <ion-col size="5"   style="margin-right: 5px;">

                                  
                                      <ion-input
                                      name="cod_postal"
                                      type="number"
                                      placeholder="Cod_pstal"
                                      [(ngModel)]="cod_postal"
                                      #c_post="ngModel"
                                     
                                     ></ion-input>

                                    
                                
                                              
                                                 <div id="link">
                                                     <small *ngIf= "c_post.invalid && c_post.touched" 
                                                     class="text-danger">Campo obligatorio</small>
                                                    </div>
                                   
                                     
                                                </ion-col>
                                  
                                                <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                     
                       </ion-row>
                    
                       <ion-row>
                        <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                     
                        <ion-col size="5">
                          <ion-input name="escalera"
                                      type="text"
                                      placeholder="Escalera"
                                      [(ngModel)]="escalera"
                                     
                                      ></ion-input>
                                     
                                    </ion-col>

                                    <ion-col size="5" 
                                              style="margin-right: 5px;">
                                      <ion-input name="piso"
                                                  type="number"
                                                  placeholder="Piso"
                                                  [(ngModel)]="piso"
                                                  
                                                  ></ion-input>
                                                  
                                                </ion-col>
                                
                                    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                    
                       </ion-row>
                       <ion-row>

                        <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                    
                        <ion-col size="3" style="text-align: start; margin-top: 5px;" >
                          <div (click)="ubicacion()">
                            <img   id="imgGPS"  src="../../assets/ubicacion.svg"
                            > 
                          </div>
                        </ion-col>
      
                       
                        <ion-col size="8" style="background: rgb(255, 255, 255);"></ion-col>
       
                       </ion-row>
                    
                    
</ion-list>
           </ion-col>
         </ion-row>



     

         <ion-row>
           <ion-col style="text-align: center;margin-top: 65px;">
             <ion-button type="submit"
                         
                        (click)="iniciar()"
                        >
           CREAR
             </ion-button>
           </ion-col>
         </ion-row>
        <!--  [disabled]="formulario.invalid || !coordenadas || !selectFoto" -->

     
     </form> 
    



   </ion-grid>







 <!--  <ion-grid >
    <ion-row>
    <ion-col size="6"
      *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>  -->
 

</ion-content>
