


#imgGPS{
    width: 39px;
    height: 39px;
}

ion-input{
    border: 1px   transparent;
    background-color: rgb(245, 245, 245);
    fill: round($number: 7);
   
    border-radius: 5px 5px 5px 5px ;
    margin-top: 5px;
  
   
}
ion-input:focus-within{
    border: 1px   transparent;
   background-color: rgb(245, 245, 245);
   fill: round($number: 7);
    border-radius: 5px 5px 5px 5px ;
    margin-top: 5px;
 
}

#datos{
    margin-top: 20px;
    //margin-left: 60px;
}

 ion-button{
    //width: 50%;
    width: 155px;
    height: 39px;
    border-radius: 5px 5px 5px 5px ;
    font-family: 'HelveticaNeueLTStd-Bd';
    background-color: rgb(246, 183, 118);
    color: rgb(49 ,49 ,57);
} 


ion-card{
    border: 0.5px solid  rgb(49 ,49 ,57);
    width:110px;
    height: 110px;
    border-radius: 15px 15px 15px 15px;
  
    }
    
    #selecf{
        width: auto;
        height: auto;  
    }

    #link{
        color: rgb(101,173,172);
    }