<ion-row id="item" class="animated fadeIn"> 
  
  <!--  <ion-col size=4 *ngIf="contrato.type == 'Servicio de Fontaneria'"> -->   <!-- Server Local -->    
          <ion-col size=4 *ngIf="contrato.type == 'Servicio de Fontanería'">
    <div class="image-left">
      <img  src="../../../assets/fontaneria.png" style="margin-top: 18px;">
      </div>
  </ion-col>       
  <ion-col size=8>        
    <ion-row style=" margin-top: -1px;">  
      <ion-col size=0.6></ion-col>  
       <ion-col size=11.4 style="text-align: start;padding-bottom: 0px;">
        <h6 style=" margin-top: 8px;">  {{contrato.title | uppercase}}</h6> </ion-col>       
           
    </ion-row >        
    <ion-row style="margin-top: -4px;">          
      <ion-col size=2 style="text-align: end;padding-left: 0px;margin-top: 3px;padding-bottom: 0px;">
        <img style="width: 72%;height: 72%;" src="../../../assets/calendario.svg">          
      </ion-col>          
      <ion-col size=10 style="text-align: start;">            
        <ion-label class="text-helvetica">
          {{ contrato.date_planned |date:'EEE d MMM y' | lowercase}}
        </ion-label>
      </ion-col>        
    </ion-row>        
    <ion-row style="margin-top: -3px;">        
      <ion-col size=2  style="text-align: end;padding-left: 0px;margin-top: 3px;padding-bottom: 0px;">        
        <img style="width: 72%;height: 72%;" src="../../../assets/hora.svg">        
      </ion-col>        
      <ion-col size=6.5  style="text-align: start;">        
        <ion-label class="text-helvetica" style="margin-left: 0px;">
          {{contrato.time |date: 'h:mm a' }} </ion-label>
      </ion-col>        
      <ion-col size=3.5  style="text-align: start;">        
        <ion-label class="text-helvetica"
        style="margin-left: 0px; margin-top: -10px;
        color: rgb(246, 183, 118);">
          {{ contrato.budget }} € 
        </ion-label>        
      </ion-col>        
    </ion-row>        
  </ion-col>        
</ion-row> 
