@font-face {
    font-family: 'Aero';
    src: url("../../../assets/fonts/Aero.ttf") format("truetype");
}
@font-face {
    font-family: 'Helvetica';
    src: url("../../../assets/fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
}
$font-aero: 'Aero', sans-serif;
$font-helvetica: 'Helvetica', sans-serif;

h6{
    font-family: $font-aero;
   /*  font-size: 32; */
   font-size: 5vw;
}

.text-helvetica{
    font-family: $font-helvetica !important;
   /*  font-size: 18 !important; */
   font-size: 5vw !important;
}

/* #imagen{
    margin-top: 30px;
    width: 90px;            
    height: 89px;            
    border-radius: 20px 3px 3px 3px;            
    object-fit: cover; 
    opacity: 0.9;           
} */

.image-left {
    
    &::before {
        content: '';
        position: absolute;
        margin-top: 7px;
      /*   width: 90px;            
        height: 89px; */
        width: 91%;
        height: 15vh;
        background-color: rgb(246, 183, 118);
        opacity: 30%;
        border-radius: 20px 3px 3px 5px;
    }
    img {
        object-fit: cover;
     /*    width: 90px;            
        height: 89px; */
        width: 100%;
        height: 15vh;
    border-radius: 20px 3px 3px 5px;
    }
}

#item{        
    border-bottom: 2px solid  rgba(246, 183, 118, 0.7);
}
