<ion-header>
  <ion-toolbar>
 <!--    <h1>{{ title }}</h1> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->

  
  <h1>{{ title }}</h1>

  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  
  <agm-map [latitude]="lat" [longitude]="lng">
   <!--  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
  </agm-map>
  
</ion-content>
