<!-- <ion-header [translucent]="true" class="ion-no-border">

    <div id="barraInferior"  >
      <ion-row>
        
        <ion-col size=3 >
          <img  id="logo"  src="../../../assets/icon/logo_header.svg">
      
        </ion-col>
        
      
       
         <ion-col size=6>
          <h2 style="text-align: center;color: rgb(246, 183, 118);">Solicitudes</h2>
      
         </ion-col>
        
       </ion-row>
       
       
      </div>
     
    
  
</ion-header> -->

<app-header headerText="Solicitudes" [fillBackground]="false"
class="animated fadeIn"></app-header>

<ion-content>
  <ion-row style="margin-top: 50px;margin-left: 55px;">
    
      <ion-label id="encabezado">¿Que tipo de servicio necesita?</ion-label>
   
  </ion-row>
       
  
<!--   <ion-list>
    <ion-item *ngFor="let serv of servicios_activos, let i = index" >
      <ion-checkbox mode="ios"
                    color="primary"
                    value="select"
      
      (click)="seleccionado(i)"></ion-checkbox>
<ion-label style="margin-left: 20px;">{{this.serv | uppercase}} </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-row style="margin-top: 20px;">
    <ion-col size=1></ion-col>
    <ion-col size=4.5>
      <ion-row>
        <img src="../../../assets/fontaneria.png"
             (click)="seleccionado(0)">
      </ion-row>
      <ion-row>
        <ion-label style="margin-left: 20px;">{{this.servicios_activos[0]}} </ion-label>
      </ion-row>
     
    </ion-col>
    <ion-col size=1></ion-col>
    <ion-col size=4.5>
      
    </ion-col>
    <ion-col size=1></ion-col>
  </ion-row>
 
              
  
    
 
 
    
</ion-content>
