<app-header headerText="Solicitudes" [fillBackground]="true"
[expandHeader]="true" expandText="{{servicio}}" [cerrar]="true" [atras]="true" [titulo]="true"
(clickedClose)="cerrarsolicitud($event)"></app-header>

<ion-content>
  
  <div id="barra">
    <ion-label >Titulo de la solicitud</ion-label>
  </div>

  <!-- <ion-grid style="margin-top: 20px;"> -->
   
   <!--  <ion-row>
      <div id="barra">
        <ion-label >Titulo de la solicitud</ion-label>
      </div>
    </ion-row> -->

    <form #formulario="ngForm" >
      <ion-item style="margin-top: 20px;" lines="none" >
        <ion-label position="floating">Titulo:</ion-label>
          <ion-input type="text"
          name="titulo"
          [(ngModel)]="titulo"
          required
          maxlength=20                               
          id="item"></ion-input>
      </ion-item>
    </form>





<div id="barra" style="margin-top: 60px;">
<ion-label >¿Dispone de los materiales?</ion-label>
</div>




<ion-list style="margin-top: 20px;">
<ion-radio-group value="no">
 

  <ion-item (click)="checkSiF()">
    <ion-label>Si</ion-label>
    <ion-radio slot="start" value="si"></ion-radio>
  </ion-item>

  <ion-item (click)="checkNoF()">
    <ion-label>No</ion-label>
    <ion-radio slot="start" value="no"></ion-radio>
  </ion-item>

  
</ion-radio-group>
</ion-list>

<ion-row >
  <ion-col ></ion-col>
  <ion-col> 
    <ion-button id="boton" (click)="goto()"
    [disabled]="formulario.invalid">
    Siguiente
  </ion-button> </ion-col>
  
  <ion-col></ion-col>
</ion-row>
<!-- </ion-grid> -->


</ion-content>
