<ion-header>
  <div id="contenido">

  </div>
</ion-header>

<ion-content>
  <div id="contenido">
    <ion-row>
      <ion-col style="text-align: center;">
        <img  id="logo"  src="../../assets/logoNavbar.png">
      </ion-col>
    </ion-row>
   
  
  
  <ion-row>
    <ion-col style="text-align: center;">
      <ion-button color="clear" 
      id="colorB" 
      style="margin-top: 160px;"
      routerLink="/login">
  INICIAR SESION
  </ion-button>
   
  
    </ion-col>
  
  
  </ion-row>
  
    
  
   <ion-row>
     <ion-col style="text-align: center;">
      <ion-button color="clear" id="colorB" style="margin-top: 60px;"
      routerLink='/registro'>CREAR CUENTA</ion-button>
  
     </ion-col>
   </ion-row>
  
  </div>
</ion-content>
