
<ion-content >
  <div id="contenido">
    <ion-row>
      <ion-col size=1></ion-col>
      <ion-col size=10 style="text-align: center;">
           <ion-row>
              <ion-col style="text-align: center;">
                <img  id="logo"  src="../../assets/logoNavbar.svg">
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col style="text-align: center;">
                <h1 style="color: rgb(246, 183, 118);">TodoenunApp</h1>
              </ion-col>
            </ion-row>

            <ion-row>
               <ion-col style="text-align: center;">
                  <ion-button color="clear" 
                              id="colorB" 
                              style="margin-top: 180px;"
                             (click)="navegar()">
                                        INICIAR SESION
                   </ion-button>
                </ion-col>
             </ion-row>


             <ion-row>
              <ion-col style="text-align: center;">
               <ion-button color="clear" id="colorB" style="margin-top: 30px;"
               routerLink='/registro'>CREAR CUENTA</ion-button>
           
               </ion-col>
              
               </ion-row>


      </ion-col>
      <ion-col size=1></ion-col>
    </ion-row>
  </div>
 
</ion-content>
