#contenido{
    background-color: rgb(49 ,49 ,57);
    width: 100%;
    height: 100%;
}

#logo{
   
    width: 100px;
    height: 100px;
    margin-top: 150px;
    
   
    
}
#colorB{
    background-color: rgb(246, 183, 118);
    color: rgb(49 ,49 ,57);
    width: 155px;
    height: 39px;
    border-radius: 5px 5px 5px 5px ;
}