<ion-header>
  <div id="barraSuperior">
    <div id="barraInferior">
    
     <img  id="logo" slot="start" src="../../assets/logoNavbar.png">
    
    </div>
    <h2 style="text-align: center; margin-top: 2px;color: rgb(49 ,49 ,57);">Solicitudes</h2>
    
  </div>
  <div id="barra">
   
    <ion-label >Fotos del proyecto</ion-label>
 
 
 
 </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 35px;text-align: center;">
      <ion-col size=2>
       
      </ion-col>
      <ion-col>
        <img src="../../assets/noImage.png">
      </ion-col>
      <ion-col >
        <img src="../../../assets/noImage.png">
      </ion-col>
      <ion-col size=2>
       
      </ion-col>
    </ion-row>
  
  
    <ion-row style="margin-top: 35px;text-align: center;">
      
      <ion-col size=1>
        
      </ion-col>
      <ion-col size=1>
        
      </ion-col>
  
      <ion-col size=8>
       
        <img src="../../assets/noImage.png">
      </ion-col>
  
      <ion-col size=1 >
        
      </ion-col>
      <ion-col size=1>
        
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col style="text-align: center;margin-top: 65px;">
        <ion-button id="btnS"type="submit"
                 color="primary"
                  (click)="fin()">
      Finalizar
        </ion-button>
      </ion-col>
    </ion-row>
  
   
  </ion-grid>
</ion-content>
