ion-tabs{
 
  background: transparent;
 
  border: 0px none  transparent;
}
ion-tab-bar{
    height: 70px;
    background: transparent;
   
    border: 0px none  transparent;
    
  }
  ion-tab-button{
    background: rgb(246, 183, 118);
     color:rgb(49 ,49 ,57) ;
     height: 50px;
     margin-top: 30px;
     
  }
  
  
  
  .tab-selected{
    color:rgb(246, 183, 118);
    background:rgb(49 ,49 ,57) ;
  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 70px;
  
   
  }
   
  