/* #barraSuperior{
    width: 100%;
    height: 115px;
    
    background-color: rgb(246, 183, 118);
}

#barraInferior{
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 20px 0px;
    background-color: rgb(49 ,49 ,57);
}

#logo{
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-left: 6px;
    
} */

ion-input{
    border: 1px   transparent;
    background-color: rgb(245, 245, 245);
    fill: round($number: 7);
   
    border-radius: 5px 5px 5px 5px ;
    margin-top: 5px;

  
   
}

ion-input.ng-invalid.ng-touched {
    border: 2px solid rgb(101,173,172) !important;
}
ion-button{
    background-color: rgb(246, 183, 118);
    color: rgb(49 ,49 ,57);
   
    border-radius: 5px 5px 5px 5px ;
    font-family: 'HelveticaNeueLTStd-Bd';
    margin-top: 50px;
}

h3{
    font-family: 'HelveticaNeueLTStd-Bd';
    color:  rgb(246, 183, 118); 
    text-align: center;
}