<ion-row id="item" class="animated fadeIn" >
  
  <ion-col size=4 *ngIf="Solicitud.type == 'Servicio de Fontanería'">
    <img id="imagen" src="../../../assets/f.jpg" style="margin-top: 18px;">
  </ion-col>
       
  <ion-col size=8>        
    <ion-row style=" margin-top: 0px;">
      <ion-col size=1></ion-col>  
      <ion-col size=11 style="text-align: start;padding-bottom: 0px;"> <h6> {{Solicitud.title | uppercase}}</h6></ion-col>  
     
    </ion-row >
    <ion-row style="margin-top: -4px;">
      <ion-col size=2.5  style="text-align: end;padding-left: 0px;">
        <img style="width: 16px;height: 16px;" src="../../../assets/calendario.png">            
      </ion-col>
      <ion-col size=9.5 style="text-align: start;">
        <ion-label class="text-helvetica">{{ this.Solicitud.date_planned 
          | date:'EEE d MMM y' | lowercase}} </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -3px;">
      <ion-col size=2.5 style="text-align: end;">
        <img style="width: 16px;height: 16px;" src="../../../assets/hora.png">
      </ion-col>
      <ion-col size=9.5 style="text-align: start;">
        <ion-label class="text-helvetica"> {{Solicitud.time | date: 'h:mm a' }}</ion-label>            
      </ion-col>            
    </ion-row>        
  </ion-col>
</ion-row>