img {
    width: 120px;

}



ion-input{
    border: 1px solid  rgb(246, 183, 118);
    
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
   
}
ion-input:focus-within{
    border: 3px solid  rgb(246, 183, 118);
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

#datos{
    margin-top: 25px;
    //margin-left: 60px;
}



ion-button{
    background-color: rgb(246, 183, 118);
    color: rgb(49 ,49 ,57);
    border-radius: 15px 15px 15px 15px ;
    font-family: 'HelveticaNeueLTStd-Bd';
    margin-top: 5px;
}


#link{
    color: rgb(101,173,172);
}