
<ion-content>
  <ion-grid>

   <form #formulario="ngForm" class="animated fadeIn">
         <ion-row style="margin-top: 25px;">
           <ion-col style="text-align: center;">
             <img src="../../assets/logoHome.png">
           </ion-col>
         </ion-row>
       
         <ion-row >
           <ion-col >
             
               <ion-list>
                 <div id="datos">
                 <ion-row>
                   <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                   <ion-col size="11">
                     <ion-label style="font-family: 'HelveticaNeueLTStd-Bd';font-size: larger; color: rgb(246, 183, 118);">Bienvenido</ion-label>
                   </ion-col>
                 </ion-row>
               </div>

                   <ion-row >
                     <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                     <ion-col size="10">
                       <ion-input name="email"
                                   type="email"
                                   required
                                   [(ngModel)]="user"
                                   placeholder="USUARIO"                     
                                   #nombre="ngModel"
                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                   

                                   ></ion-input>
                                   <div id="link">
                                    <small *ngIf= "nombre.invalid && nombre.touched"   
                                    class="text-danger">Su nombre de usuario debe ser de 5 caractere</small>
                                   </div>
                                   
                                 </ion-col >

                                 <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                   </ion-row>
                  
                           

                  <!--  <div id="datos">
                     <ion-row>
                       <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                       <ion-col size="11">
                         <ion-label>CONTRASEÑA</ion-label>
                       </ion-col>
                     </ion-row>
                   </div> -->
   
                       <ion-row >
                         <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                         <ion-col size="10">
                           <ion-input name="password"
                                       type="password"
                                       required
                                       [(ngModel)]="pass"
                                        minlength=5
                                        #pa="ngModel"
                                        placeholder="CONTRASEÑA"
   
                                       ></ion-input>
                                       <div id="link">
                                        <small *ngIf= "pa.invalid && pa.touched"   
                                        class="text-danger">Su pass debe ser de 5 caracteres</small>
                                       </div>
                                     </ion-col >
                                     <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
                       </ion-row>
                           
               </ion-list>
           </ion-col>
         </ion-row>

         <ion-row>
          <ion-col size=1></ion-col>
   
            <ion-col  size=10 >
            <ion-button id="boton" 
                       type="submit"
                       (click)="iniciar()"                       
                       [disabled]="formulario.invalid"
                       expand="full"
                      >
          Iniciar Sesion
            </ion-button>
          </ion-col>
          <ion-col size=1></ion-col>
        </ion-row>

         <ion-row  style="margin-top: 30px;">
           <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
           <ion-col size="10" >
             <a href="#"id="link" 
             >¿Has olvidado tu contraseña?</a>
           </ion-col>
        
           <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
         </ion-row>

        <!--  <ion-row>
           <ion-col size=3></ion-col>
    
    <ion-col  size=6 style="text-align: center;">
             <ion-button id="boton" 
                        type="submit"
                        (click)="iniciar()"                       
                        [disabled]="formulario.invalid">
           Iniciar Sesion
             </ion-button>
           </ion-col>
           <ion-col size=3></ion-col>
         </ion-row> -->
 
     </form> 
    

   </ion-grid>
</ion-content>
