#barraSuperior{
    width: 100%;
    height: 99px;
    
    background-color: rgb(246, 183, 118);
}

#barraInferior{
    width: 100%;
    height: 65px;
    border-radius: 0px 0px 20px 0px;
    background-color: rgb(49 ,49 ,57);
}

#logo{
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-left: 6px;
    
}



#barra{
    background-color :rgb(241, 241, 241);
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
   
    
    
    text-align: center;
   
}

#formasFoto{
    width: auto;
    height: auto;
    border: 2px solid  rgb(0, 0, 0, 0.22); 
    border-radius: 4px;
}


//------------------------------------------------

 /* #cuadrado{
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid transparent;
  border-left: 50px solid  transparent;
  border-bottom: 50px solid transparent;
  border-radius: 4px;

}  */

.avatar-profile {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    flex: none !important;
    background-color: transparent;
    color: #bdbdbd;
    border: 2px solid rgba(0, 0, 0, 0.22) !important;
   /*  .avatar-icon {
        font-size: 250px;
        height: 250px;
        width: 250px;
        color: #bdbdbd;
    }
    #photoCameraBtn {
        opacity: 0;
        height: 100%;
        width: 100%;
        mat-icon {
            font-size: 30px;
            height: 30px;
            width: 30px;
        }
    }
    &:hover {
        #photoCameraBtn {
            opacity: 1;
            transition: opacity 0.5s ease;
        }
    } */
}

img{
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
}
#ion-img{
    width: 100%;
    height: 50px;
    max-width: 97px;
    max-height: 97px;
    
}