<app-header headerText="Solicitudes" [fillBackground]="true"
[expandHeader]="true" [expandText]="servicio"
(clickedClose)="cerrarsolicitud($event)"></app-header>

<ion-content>

  <!-- <div id="barra">
    <ion-label >Fotos del proyecto</ion-label>
  </div> -->
  <ion-grid>
    <ion-row style="margin-top: 35px;text-align: center;">
      <ion-col size=4>
      </ion-col>
      <ion-col size=4  *ngIf="foto0">
        <img [src]="foto0 | safeUrlPipe"
            (click)="presentAlertConfirm(0)">
      </ion-col>
      <ion-col size=4 >
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 35px;text-align: center;">
      <ion-col size=4>
      </ion-col>
      <ion-col size=4  *ngIf="foto1">
        <img [src]="foto1 | safeUrlPipe"        
        (click)="presentAlertConfirm(1)">
      </ion-col>
      <ion-col size=4 >
      </ion-col>
    </ion-row>
  </ion-grid> 
  <ion-row style="margin-top: 55px;">
    <ion-col ></ion-col>
    <ion-col> <ion-button (click)="goto()">  
      Siguiente
    </ion-button> </ion-col>
    <ion-col></ion-col>
  </ion-row>
  
</ion-content>
