<!-- <app-header headerText="Solicitudes" [fillBackground]="true"
[expandHeader]="true" [expandText]="servicio"
(clickedClose)="cerrarsolicitud($event)"></app-header> -->
<app-header headerText="Solicitudes" [fillBackground]="true"
[expandHeader]="true" expandText="{{servicio}}"
(clickedClose)="cerrarsolicitud($event)"></app-header>

<ion-content>

  <div id="barra">
    <ion-label >Fotos del proyecto</ion-label>
  </div>
  <!-- <ion-row>
    <ion-col size=6>
      <ion-card *ngIf="foto0" style="margin-top: 50px;">
        <ion-card-header>         
          <ion-card-title style="text-align: center;">
              <ion-tab-button (click)="presentAlertConfirm(0)" class="primary">
                <ion-icon name="add"></ion-icon>
                
              </ion-tab-button>
          </ion-card-title>
        </ion-card-header>
        <img [src]="foto0 | safeUrlPipe"
            (click)="presentAlertConfirm(0)">
        <ion-card-content>
          <ion-card-subtitle style="text-align: center;">
            Descripción
          </ion-card-subtitle>
          <ion-input></ion-input>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size=6>
      <ion-card *ngIf="foto0" style="margin-top: 50px;">
        <ion-card-header>         
          <ion-card-title style="text-align: center;">
              <ion-tab-button (click)="presentAlertConfirm(1)" class="primary">
                <ion-icon name="add"></ion-icon>
               
              </ion-tab-button>
          </ion-card-title>
        </ion-card-header>
        <img [src]="foto1 | safeUrlPipe"        
        (click)="presentAlertConfirm(1)">
        <ion-card-content>
          <ion-card-subtitle style="text-align: center;">
            Descripción
          </ion-card-subtitle>
          <ion-input></ion-input>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row> 
 -->

 <ion-row>
   <ion-col size=1></ion-col>
  <ion-col size=5>
    <ion-card *ngIf="foto0" style="margin-top: 80px;text-align: start">
      <img id="selecf" [src]="foto0 | safeUrlPipe"
          (click)="presentAlertConfirm(0)">
    </ion-card>
  </ion-col>
  
  <ion-col size=5>
    <ion-card *ngIf="foto0" style="margin-top: 80px; margin-left: 30px;">
      <img id="selecf" [src]="foto1 | safeUrlPipe"        
      (click)="presentAlertConfirm(1)">
    </ion-card>
  </ion-col>
  <ion-col size=1></ion-col>
</ion-row> 

<ion-row>
  <ion-col size=4></ion-col>
 <ion-col size=4>
   <ion-card *ngIf="foto2" style="margin-top: 30px;">
     <img id="selecf" [src]="foto2 | safeUrlPipe"
         (click)="presentAlertConfirm(2)">
   </ion-card>
 </ion-col>
 <ion-col size=4></ion-col>
</ion-row> 

 
  <ion-row >
    <ion-col ></ion-col>
    <ion-col> <ion-button id="boton" (click)="goto()">  
      Siguiente
    </ion-button> </ion-col>
    <ion-col></ion-col>
  </ion-row>
  
</ion-content>
