<!-- <ion-header [translucent]="true" class="ion-no-border">

    <div id="barraInferior">
      <ion-row>
        
        <ion-col size=3 >
          <img  id="logo"  src="../../assets/logoNavbar.svg">
      
        </ion-col>
        
      
       
         <ion-col size=6>
          <h2 style="text-align: center;color: rgb(246, 183, 118);">Perfil</h2>
      
         </ion-col>
        
       </ion-row>
       
       
      </div>
     
    
    
</ion-header> -->

<app-header headerText="Perfil" [fillBackground]="false"
class="animated fadeIn"></app-header>

<ion-content >
 
  <ion-row style="margin-top: 30px;" >
    

    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/1.svg" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
     </ion-col>
     <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

      <ion-list  >
        
        <ion-label (click)="datospersonales()" style="color: rgb(49 ,49 ,57)">
         Datos personales
        </ion-label>
        <div id="item"></div>
       
     
       </ion-list>
    </ion-col>

  <ion-col size=1></ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/2.svg" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
     </ion-col>

  <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

    <ion-list  >
      
      <ion-label  style="color: rgb(49 ,49 ,57)">
      Direccion
      </ion-label>
      <div id="item"></div>
     
   
     </ion-list>
  </ion-col>
  <ion-col size=1></ion-col>
  </ion-row> -->
   
  <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/3.svg" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
     </ion-col>
     <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

      <ion-list  >
        
        <ion-label (click)="cambiarcontrasea()" style="color: rgb(49 ,49 ,57)">
         Contraseña
        </ion-label>
        <div id="item"></div>
       
     
       </ion-list>
    </ion-col>
  <ion-col size=1></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/4.svg" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
   
    <!--   <ion-icon name="notifications" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-icon>
    -->
   </ion-col>
    <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

      <ion-list  >
        
        <ion-label  style="color: rgb(49 ,49 ,57)">
         Notificaciones
        </ion-label>
        <div id="item"></div>
       
     
       </ion-list>
    </ion-col>
  <ion-col size=1></ion-col>
  </ion-row>


  <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/promociones.svg" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
   
   
   </ion-col>
    <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

      <ion-list  >
        
        <ion-label  style="color: rgb(49 ,49 ,57)">
         Promociones
        </ion-label>
        <div id="item"></div>
       
     
       </ion-list>
    </ion-col>
  <ion-col size=1></ion-col>
  </ion-row>
   

  <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/doc.svg" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
   
   
   </ion-col>
    <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

      <ion-list  >
        
        <ion-label  style="color: rgb(49 ,49 ,57)">
         Documentos
        </ion-label>
        <div id="item"></div>
       
     
       </ion-list>
    </ion-col>
  <ion-col size=1></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/5.svg" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
   
     <!--  <ion-icon name="help" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-icon> -->
    </ion-col>
    <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

      <ion-list  >
        
        <ion-label  style="color: rgb(49 ,49 ,57)">
        ¿Quienes somos?
        </ion-label>
        <div id="item"></div>
       
     
       </ion-list>
    </ion-col>
  <ion-col size=1></ion-col>
  </ion-row>
</ion-content>
