<ion-header [translucent]="true" class="ion-no-border">

    <div id="barraInferior">
      <ion-row>
        
        <ion-col size=3 >
          <img  id="logo"  src="../../assets/logoNavbar.png">
      
        </ion-col>
        
      
       
         <ion-col size=6>
          <h2 style="text-align: center;color: rgb(246, 183, 118);">Perfil</h2>
      
         </ion-col>
        
       </ion-row>
       
       
      </div>
     
    
    
</ion-header>

<ion-content >
 
  <ion-row style="margin-top: 25px;" >
    

    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/3.png" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
     </ion-col>
     <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

      <ion-list  >
        
        <ion-label  style="color: rgb(49 ,49 ,57)">
         Contraseña
        </ion-label>
        <div id="item"></div>
       
     
       </ion-list>
    </ion-col>

  <ion-col size=1></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/3.png" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
     </ion-col>

  <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

    <ion-list  >
      
      <ion-label  style="color: rgb(49 ,49 ,57)">
       Contraseña
      </ion-label>
      <div id="item"></div>
     
   
     </ion-list>
  </ion-col>
  <ion-col size=1></ion-col>
  </ion-row>
   
  <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-img
      src="../../assets/4.png" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-img>
     </ion-col>
     <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

      <ion-list  >
        
        <ion-label  style="color: rgb(49 ,49 ,57)">
         Contraseña
        </ion-label>
        <div id="item"></div>
       
     
       </ion-list>
    </ion-col>
  <ion-col size=1></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=1>
      <ion-icon name="add" style="width: 30px; height: 30px;margin-top: 5px;color: rgb(246, 183, 118)"></ion-icon>
    </ion-col>
    <ion-col size=8 style="margin-top: 5px;margin-left: 15px;">

      <ion-list  >
        
        <ion-label  style="color: rgb(49 ,49 ,57)">
         Contraseña
        </ion-label>
        <div id="item"></div>
       
     
       </ion-list>
    </ion-col>
  <ion-col size=1></ion-col>
  </ion-row>
   

</ion-content>
