<ion-header>
  <div id="barraSuperior">
   
    <div id="barraInferior">
      <ion-row>
      
        <ion-col size=3 >
          <img  id="logo"  src="../../assets/logoNavbar.png">
      
        </ion-col>
        
      
       
         <ion-col size=6>
          <h2 style="text-align: center;color: rgb(246, 183, 118);">Servicios</h2>
       
        
         </ion-col>
        
       </ion-row>

       <ion-row>
         <ion-col size=2></ion-col>
         <ion-col size=8 style="text-align: center;">
          <ion-label style="color:  rgb(49 ,49 ,57);font-family: 'HelveticaNeueLTStd-Bd';">Datos Personales</ion-label>
         </ion-col>
        
       </ion-row>
       
        
    </div>
   
   
  </div>



</ion-header>  


<ion-content>
  
  <ion-row style="margin-top: 25px;">
    <ion-col size=3.5></ion-col>
    <ion-col size=5 style="text-align: center;">
      <ion-card *ngIf="avatarusuario" >
        <img id="selecf" [src]="avatarusuario | safeUrlPipe "
        (click)="presentAlertConfirm()" >
      </ion-card>
    </ion-col>
    <ion-col size=3.5></ion-col>
  </ion-row>

  
 
 
<ion-row>
  <ion-col size=1></ion-col>

 

  <ion-col size=10>

 
      <ion-item lines="none">
        <!-- <ion-label position="floating">Nombre y Apellidos</ion-label> -->
        <ion-input type="text"
      name="nombre"
      [(ngModel)]="nombre"  
      placeholder={{this.usuario.realname}}
      required  
      #nom_apell="ngModel"                        
      ></ion-input> 
      </ion-item>
      <div id="item"></div>
      <div id="link">
        <small *ngIf= "nom_apell.invalid && nom_apell.touched"   
        class="text-danger">Debe escribir su nombre completo</small>
       </div>
  
      <!-- Fecha de nacimiento -->
  
      <ion-item lines="none">
       <!--  <ion-label position="floating">Fecha de nacimientos</ion-label> -->
   <!--      <ion-input type="text"
      name="nombre"
      [(ngModel)]="nombre"
      placeholder="Fecha de nacimiento"
      
                                    
      ></ion-input> -->
      <ion-datetime displayFormat="D MMMM  YYYY" 
      name="calendario"
     
      cancelText="Cancelar"
      doneText="Cambiar"
      [(ngModel)]="fecha"
      placeholder="Fecha de nacimiento"
      #fech="ngModel"
      required
      style="margin-left: 0px;padding-left: 0px;padding-bottom: 3px;">
    </ion-datetime>
      
      </ion-item>
      <div id="item"></div>
      <div id="link">
        <small *ngIf= "fech.invalid && fech.touched"   
        class="text-danger">Debe escribir su nombre completo</small>
       </div>
  
      <!-- Contraseña -->
  
      
      <ion-item lines="none">
        <!-- <ion-label position="floating">Contraseña</ion-label> -->
        <ion-input type="text"
      name="nombre"
      [(ngModel)]="pass"
      placeholder={{this.usuario.password}}
      required
      minlength=5
      #contra="ngModel"
                         
      ></ion-input>
      
      </ion-item>
      <div id="item"></div>
      <div id="link">
        <small *ngIf= "contra.invalid && contra.touched"   
        class="text-danger">Debe escribir su nombre completo</small>
       </div>
      <!-- Correo -->
  
      <ion-item lines="none">
        <!-- <ion-label position="floating">Contraseña</ion-label> -->
        <ion-input type="text"
      name="nombre"
      [(ngModel)]="correo"
      placeholder={{this.usuario.username}}
      #corr="ngModel"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      required
                                    
      ></ion-input>
      
      </ion-item>
      <div id="item"></div>
      <div id="link">
        <small *ngIf= "corr.invalid && corr.touched"   
        class="text-danger">Debe escribir su correo</small>
       </div>
  
  
  
  <!-- Direccion -->
  
  
  
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <!-- <ion-label position="floating">Contraseña</ion-label> -->
            <ion-input type="text"
          name="nombre"
          [(ngModel)]="calle"
          placeholder={{this.usuario.address.street}}
          #call="ngModel"
          required
                                        
          ></ion-input>
          
          </ion-item>
          <div id="item"></div>
          <div id="link">
            <small *ngIf= "call.invalid && call.touched"   
            class="text-danger">Campo obligatorio</small>
           </div>
      
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <!-- <ion-label position="floating">Contraseña</ion-label> -->
            <ion-input type="text"
          name="nombre"
          [(ngModel)]="piso"
          placeholder={{this.usuario.address.floor}}
          #pis="ngModel"
          required
          
                                        
          ></ion-input>
          
          </ion-item>
          <div id="item"></div>
          <div id="link">
            <small *ngIf= "pis.invalid && pis.touched"   
            class="text-danger">Campo obligatorio</small>
           </div>
      
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <!-- <ion-label position="floating">Contraseña</ion-label> -->
            <ion-input type="text"
          name="nombre"
          [(ngModel)]="numero"
          placeholder={{this.usuario.address.number}}
          #num="ngModel"
          required
                                        
          ></ion-input>
          
          </ion-item>
          <div id="item"></div>
          <div id="link">
            <small *ngIf= "num.invalid && num.touched"   
            class="text-danger">Campo obligatorio</small>
           </div>
      
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <!-- <ion-label position="floating">Contraseña</ion-label> -->
            <ion-input type="text"
          name="nombre"
          [(ngModel)]="puerta"
          placeholder={{this.usuario.address.door}}
          #pue="ngModel"
          required
                             
          ></ion-input>
          
          </ion-item>
          <div id="item"></div>
          <div id="link">
            <small *ngIf= "pue.invalid && pue.touched"   
            class="text-danger">Campo obligatorio</small>
           </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <!-- <ion-label position="floating">Contraseña</ion-label> -->
            <ion-input type="text"
          name="nombre"
          [(ngModel)]="portal"
          placeholder={{this.usuario.address.portal}}
          #port="ngModel"
          required
                                        
          ></ion-input>
          
          </ion-item>
          <div id="item"></div>
          <div id="link">
            <small *ngIf= "port.invalid && port.touched"   
            class="text-danger">Campo obligatorio</small>
           </div>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <!-- <ion-label position="floating">Contraseña</ion-label> -->
            <ion-input type="text"
          name="nombre"
          [(ngModel)]="cpostal"
          placeholder={{this.usuario.address.cp}}
          #c_post="ngModel"
          required
                                        
          ></ion-input>
          
          </ion-item>
          <div id="item"></div>
          <div id="link">
            <small *ngIf= "c_post.invalid && c_post.touched"   
            class="text-danger">Campo obligatorio</small>
           </div>
      
        </ion-col>
  
        <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
        
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <!-- <ion-label position="floating">Contraseña</ion-label> -->
            <ion-input type="text"
          name="nombre"
          [(ngModel)]="escalera"
          placeholder={{this.usuario.address.stair}} 
          #esc="ngModel"
          required
                                        
          ></ion-input>
          
          </ion-item>
          <div id="item"></div>
          <div id="link">
            <small *ngIf= "esc.invalid && esc.touched"   
            class="text-danger">Campo obligatorio</small>
           </div>
      
        </ion-col>
  
        <ion-col  style="text-align: end; margin-top: 5px;" >
          <div (click)="ubicacion()">
            <img   id="imgGPS"  src="../../assets/ubicacion.png"                          
            > 
          </div>
        </ion-col>
  
      </ion-row>
    

   
   

    <ion-row >
      <ion-col ></ion-col>
      <ion-col>
         <ion-button  [disabled]="esc.invalid || c_post.invalid || port.invalid || pue.invalid || num.invalid || pis.invalid || call.invalid || corr.invalid || contra.invalid || fech.invalid || nom_apell.invalid || !this.datos.getcoordenada()"
                      type="submit"
                      (click)="editar()">
         Aceptar
      </ion-button> </ion-col>
      
      <ion-col></ion-col>
    </ion-row>
  
  </ion-col>
  
  <ion-col size=1></ion-col>
</ion-row>

         

</ion-content>
