<ion-header>
  <div id="barraSuperior">
   
    <div id="barraInferior">
      <ion-row>
      
        <ion-col size=3 >
          <img  id="logo"  src="../../assets/logoNavbar.png">
      
        </ion-col>
        
      
       
         <ion-col size=6>
          <h2 style="text-align: center;color: rgb(246, 183, 118);">Servicios</h2>
       
        
         </ion-col>
        
       </ion-row>

       <ion-row>
         <ion-col size=2></ion-col>
         <ion-col size=8 style="text-align: center;">
          <ion-label style="color:  rgb(49 ,49 ,57);">{{servicio}}</ion-label>
         </ion-col>
         <ion-col size=2>
          <ion-icon  name="close" style=" width: 28px;height: 28px;margin-top: -3px;color: rgb(49 ,49 ,57)"
          (click)="cerrarsolicitud()"></ion-icon>
         </ion-col>
       </ion-row>
       
        
    </div>
   
   
  </div>



</ion-header> 

<ion-content>
  <div id="barra">
   
    <ion-label >Describa el servicio que necesita (opcional)</ion-label>
 
 
 
 </div>

 <ion-grid>
  <ion-row style="margin-top: 45px;">
    <ion-col size=1>

    </ion-col>

    <ion-col size=10 style="margin-top: 60x;">
      <textarea name="Text1" cols="40" rows="5"
                    [(ngModel)]="comentario"></textarea>
    </ion-col>

    <ion-col size=1>

    </ion-col>
  </ion-row>
</ion-grid>
 
<ion-row style="margin-top: 55px;">
  <ion-col ></ion-col>
  <ion-col> <ion-button (click)="goto()">
    Siguiente
  </ion-button> </ion-col>
  
  <ion-col></ion-col>
</ion-row>
</ion-content>
