<ion-header>
  <div id="barraSuperior">
    <div id="barraInferior">
    
     <img  id="logo" slot="start" src="../../assets/logoNavbar.png">
    
    </div>
    <h2 style="text-align: center; margin-top: 2px;color: rgb(49 ,49 ,57);">Solicitudes</h2>
    
  </div>
  <div id="barra">
   
    <ion-label >Describa el servicio que necesita (opcional)</ion-label>
 
 
 
 </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 45px;">
      <ion-col size=1>
  
      </ion-col>
  
      <ion-col size=10 style="text-align: center;margin-top: 60x;">
        <textarea name="Text1" cols="40" rows="5"
                      [(ngModel)]="comentario"></textarea>
      </ion-col>
  
      <ion-col size=1>
  
      </ion-col>
    </ion-row>
  </ion-grid>
   
  
  
    <ion-row style="margin-top: 45px;">
      <ion-col size=2>
  
      </ion-col>
      <ion-col size="8" style="text-align: center;">
        <ion-button id="btnS"type="submit"
                 color="primary"
                 (clicK)="onclick()"
                 routerLink='/fotos-proyecto' >
      Siguiente
        </ion-button>
      </ion-col>
      <ion-col size=2>
  
      </ion-col>
    </ion-row>
</ion-content>
