h1{
    font-family: 'HelveticaNeueLTStd-Bd';
    text-align: center;
    color: rgb(246, 183, 118);
    margin-top: 90px;
}

ion-button{
    background-color: rgb(246, 183, 118);
    color: rgb(49 ,49 ,57);
   
    width: 155px;
    height: 39px;
    border-radius: 5px 5px 5px 5px ;
    font-family: 'HelveticaNeueLTStd-Bd';
    margin-top: 65px;
}

