<!-- <ion-col size=3>
    <img id="fotopersonal"
          style="margin-top: 15px;"  
         src="{{ofertas.photoProvider}}"  onError="this.src='assets/noImage.svg'"
         (click)="showDialog(i)" >
    </ion-col>
  

     <ion-col size=4>
   
    
     <ion-row><h4>{{editnombre(offer.client_name)}}</h4></ion-row>
   
    <ion-row ><ion-label style="color: rgb(246, 183, 118); font-size: 20px;">{{offer.budget}} €</ion-label>
    </ion-row>
    
   </ion-col>

   <ion-col size=1.5></ion-col>

   <ion-col size=1.5>
     <ion-row>
      <img 
      style="width: 22px; height: 25px;margin-top: 24px;" 
      src="../../assets/chat.png"
      (click)="openChat(offer.id)">
     </ion-row>
     <ion-row>
      <ion-label style="font-size: xx-small;">CHAT</ion-label>
     </ion-row>
    
         
        
   </ion-col>

   <ion-col size=1.5 >
 
    <ion-icon  name="checkbox-outline" 
               color="tertiary" 
               style="width: 31px;height: 31px;margin-top: 18px;margin-left: 7px;"
               (click)="showDialogAceptar(offer.id)"></ion-icon>

    
     </ion-col>
 -->