#barraSuperior{
    width: 100%;
    height: 80px;
    
    background-color: rgb(246, 183, 118);
}

#barraInferior{
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 20px 0px;
    background-color: rgb(49 ,49 ,57);
}
#logo{
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-left: 6px;
    
}

#ServHist{
    background-color: rgb(246, 183, 118);
   
}

img{
    width: 60%;
    height: 90%;
}

#item{        
    border-bottom: 2px solid  rgba(246, 183, 118, 0.7);
}

#fotopersonal{
    width: 60px;
    height: 60px; 
    border: 0.5px solid  rgb(241, 241, 241);
    border-radius: 7px 7px 7px 7px;
    opacity: 0.9;
}

ion-button{
    width: 18px;
    height: 25px; 
}
#botonpago{
    width: 65px;
    height: 25px; 
}

#ico{
    width: 25px;
    height: 20px; 
}

 #icono{
    width: 48px;
    height: 43px; 
} 

#item{
        
    border-bottom: 2px solid  rgb(246, 183, 118);
 
}

#iconosdetalles{
    width: 20px;
    height: 20px;  
}

#selecf{
    width: 79px;
    height: 79px;  
    object-fit: cover;
    
}

#imgGPS{
    width: 34px;
    height: 34px;
}



:host ::ng-deep .p-dialog {
    border-radius: 15px !important;
    .p-dialog-content {
        border-radius: 0px 0px 15px 15px;
    }
	.p-dialog-header {
		background-color: white;
		color: black;
		border-radius: 15px 15px 0px 0px;
		padding: 0.5rem;
    }
}

:host ::ng-deep.p-rating .p-rating-icon {
    font-size: 15px;
}
:host ::ng-deep.p-rating .p-rating-icon.pi-star{
    color: rgb(246, 183, 118);
}

ion-input{
    border: 1px solid rgb(49 ,49 ,57);
    
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
   
}
ion-input:focus-within{
    border: 2px solid rgb(49 ,49 ,57);
    border-radius: 5px 5px 5px 5px ;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}
#buton{
    width: 25px;
    height: 25px;
    border-radius: 5px 5px 5px 5px ;
    
  
}

#botonguardar{
    width: 145px;
    height: 25px;
    border-radius: 5px 5px 5px 5px ;
    
    font-size: small;
    background-color: rgb(246, 183, 118);
    color: rgb(49 ,49 ,57);

}

#botonpagar{
    width: 80px;
    height: 25px;
    border-radius: 5px 5px 5px 5px ;
  
    font-size: small;
    background-color: rgb(246, 183, 118);
    color: rgb(49 ,49 ,57);

}
.container {
    background: rgb(255, 255, 255);
    margin: 0 0 1rem;
    height: 10rem;
    display: flex;
    /* align-items por defecto tiene el valor `stretch` */
    align-items: start;
  }
  .center-h {
    justify-content: center;
  }
  .center-v {
    align-items: center;
  }
/*   :host ::ng-deep .p-galleria-mask{
      width: 100%;
     
      
  } */

  :host ::ng-deep .p-galleria .p-galleria-close{
      margin-right: 9em;
  }