
  <p-toast position="top-left" key="c"  [baseZIndex]="5000"   >
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: auto;">
            <div class="p-text-center">
               
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
           
        </div>
    </ng-template>
  </p-toast>


<ion-header >
  
  <div id="barraSuperior">
    <div id="barraInferior">
      <ion-row>
      
        <ion-col size=3 >
          <img  id="logo"  src="../../assets/logoNavbar.png">
      
        </ion-col>
        
      
       
         <ion-col size=6>
          <h2 style="text-align: center;color: rgb(246, 183, 118);">Solicitudes</h2>
      
         </ion-col>
        
       </ion-row>
    </div>
  
  </div> 
   <div id="ServHist">
  <ion-segment  (ionChange)="segChange($event)" 
                style="color: rgb(49 ,49 ,57);"
                color="dark">
                 
     
  
  <ion-segment-button value="ofertas">
  <ion-label style="color: rgb(49 ,49 ,57)">OFERTAS</ion-label>
  
  
  
  </ion-segment-button>
  <ion-segment-button value="detalle">
  <ion-label style="color: rgb(49 ,49 ,57)">DETALLES</ion-label>
  </ion-segment-button>
  
  </ion-segment>
  </div>
  

</ion-header>




<ion-content>
 
  <div *ngIf="veroferta">
   

    <div *ngIf="showSubCard">
  <ion-row   *ngFor="let offer of offersList">
  
    <ion-col size=1></ion-col>
    
  
     <ion-col  id="item" size=3>
       <img id="fotopersonal" 
       style="margin-top: 10px;"  
       src="{{offer.photoProvider}}"
       (click)="showDialog()" >
      </ion-col>
     
      <ion-col id="item" size=4 >
        <h4 >{{offer.client_name}}</h4>
        <p style="color: rgb(246, 183, 118);">{{offer.budget}} $</p>
      </ion-col>
   
     
   
      <ion-col id="item" size=1>
        <img id="ico" 
             style="width: 22px; height: 22px;margin-top: 24px;" 
             src="../../assets/chat.png"
             (click)="openChat(offer.id)">
        
      <!--    <ion-icon id="ico" name="chatbubbles" 
                   style="margin-top: 22px;"
                   (click)="openChat(offer.id)"></ion-icon> -->
        
      </ion-col>
   
      <ion-col id="item" size=1>
       <ion-button style="margin-top: 22px;" >
         <div id="iconos">
           <ion-icon name="checkmark" 
           ></ion-icon>
         </div>
         
       </ion-button>
      </ion-col>
   
       <ion-col id="item" size=1>
       <ion-button style="margin-top: 22px;" (click)="cancelSOclient()">
         <div id="iconos">
           <ion-icon name="close"></ion-icon>
         </div>
       </ion-button>
      </ion-col>
   
      
    <ion-col size=1></ion-col>
   
    
    <p-dialog header=" " [(visible)]="display" [modal]="true"  [style]="{ width: '85vw' }" [baseZIndex]="1000" 
    [draggable]="false" [resizable]="false">
    <ion-row>
      <ion-col size=4>
        <img  style="width: 60px; height: 60px; object-fit: cover; " src="{{offer.photoProvider}}" >
      </ion-col>
      <ion-col size=8>

  <h2> {{offer.client_name}}</h2>
  <p-rating  [ngModel]="3" readonly="true" stars="5" [cancel]="false" 
        ></p-rating>

      
</ion-col>
    </ion-row>
    
     <ion-row>
      <p style="margin-top: 5px;">
    {{offer.comment}}
      </p>
     </ion-row> 
   
      
    
 
    
  </p-dialog>

     </ion-row>

    </div>
  </div>

  <div *ngIf="verdetalles">
    <ion-row style="margin-top: 5px;">
      <ion-col size=1></ion-col>
      
      <ion-col size=10 >
       
        <div id="item">
          <ion-row >
            <h5>{{task.type}}</h5>
           
          </ion-row>
          <ion-row>
            <p>{{task.title}}</p>
          </ion-row>
        </div>

        <div id="item">
          <ion-row>
            <h5>Horario</h5>
          </ion-row>
   
          <ion-row>
            <ion-col  size=2>
              <ion-icon id="iconosdetalles" name="calendar" color="primary"></ion-icon>
           </ion-col>
            <ion-col size=10>
              <ion-label>{{ task.date_planned |date:'EEEE d.MMMM yyyy' | lowercase}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col  size=2>
              <ion-icon id="iconosdetalles" name="time" color="primary"></ion-icon>
           </ion-col>
            <ion-col size=10>
              <ion-label>{{task.time |date: 'h:mm a' }}</ion-label>
            </ion-col>
          </ion-row>
          
                 </div>

        <div id="item">
          <ion-row >
            <h5>Direccion</h5>
           
          </ion-row>
          <ion-row>
            <ion-col size=10>
              <p>{{task.address.street}}</p>
            </ion-col >
            <ion-col size=2 >
              <img   id="imgGPS"
                      src="../../assets/ubicacion.png"
                      (click)="verubicacion()"
                                          >
            </ion-col>
            
          </ion-row>
        </div>


        <div >
          <ion-row >
            <h5>Fotos</h5>
           
          </ion-row>
          
          <ion-row>
            <ion-col size=1></ion-col>
            <ion-col>
             <img id="selecf"  src="../../assets/noImage.png">
            </ion-col>
            <ion-col>
             <img id="selecf"  src="../../assets/noImage.png">
           </ion-col>
           <ion-col>
             <img id="selecf"  src="../../assets/noImage.png">
           </ion-col>
       
   
           <ion-col size=1></ion-col>
          </ion-row>
     

        </div>
      </ion-col>
       
      

      <ion-col size=1></ion-col>

     

    </ion-row>
    
      
    

       
       
       
      
       

     
  </div>

 
  




</ion-content>
