<ion-header  class="animated fadeIn">

  <app-header headerText="Solicitudes" [fillBackground]="true"></app-header>

  <div id="ServHist">
    <ion-segment  (ionChange)="segChange($event)" mode="md"
                  style="color: rgb(49 ,49 ,57);"
                  color="dark"
                  #segmentHist>
      <ion-segment-button value="servicio">
        <ion-label style="color: rgb(49 ,49 ,57); 
        border-radius: 20px 20px 0px 0px">Contratados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="historial">
        <ion-label style="color: rgb(49 ,49 ,57); 
        border-radius: 20px 20px 0px 0px">Historial</ion-label>
      </ion-segment-button>    
    </ion-segment>
  </div>
  
</ion-header>

<ion-content class="animated fadeIn">
 <div *ngIf="verservicios">  

  <div *ngIf ="this.contratadoVacia == false">
    <ion-grid routerLink="/contratados" >    
      <ion-row>      
        <ion-col size=0.5>      
        </ion-col>    
        <ion-col size=11>      
          <ion-list>        
            <div *ngFor="let contrato of contratadosList;let i = index"  
                  (click)="in(i)">        
              <app-contrato [contrato]="this.contrato"></app-contrato>       
            </div>        
          </ion-list>       
        </ion-col>    
        <ion-col size=0.5> 
        </ion-col> 
      </ion-row>    
    </ion-grid>
  </div>

 


    <div *ngIf ="this.contratadoVacia">
      <ion-row style="margin-top: 75px;">
        <ion-col size=4></ion-col>
        <ion-col size=4 style="text-align: center;">
          <ion-row>
            <div>
              <img style="width: 85%;height: 85%;" src="../../../assets/vaio.svg">
            </div>
          </ion-row>
        </ion-col>
        <ion-col size=4></ion-col>
      </ion-row>
  
      <ion-row >
        <ion-col size=3></ion-col>
        <ion-col size=6 style="text-align: center;">
        
            <h4 style="color:lightgray;margin-top: 0px;" >Ningún contratado</h4>
         
        </ion-col>
        <ion-col size=3></ion-col>
      </ion-row>
    </div>


  </div> 

  <div *ngIf="verhistorial">
    <ion-grid  >    
      <ion-row>      
        <ion-col size=0.5>      
        </ion-col>    
        <ion-col size=11>      
          <ion-list>    
            
                  
          <div *ngFor="let contrato of contratadosList;let h = index"  
                  (click)="inhistorial(h)">        
                  <ion-row id="item" class="animated fadeIn">
     
                     <ion-col size=4 *ngIf="contrato.type == 'Servicio de Fontanería'"> 
                      <div class="image-left">
                        <img  src="../../../assets/fontaneria.png" style="margin-top: 7px;">
                        </div>
                    </ion-col>       
                    <ion-col size=8>        
                      <ion-row  style="padding: 0px 0px 8.5px 5px;">  
                        <ion-col size=0.4></ion-col>  
                         <ion-col size=11.6 style="text-align: start;padding-bottom: 0px;padding-top: 0px;">
                          <!-- <h6> {{contrato.title | uppercase}}</h6>  -->
                          <ion-label class="cat_title"> {{ contrato.title | uppercase }}</ion-label>
                        </ion-col>  
                      
                             
                      </ion-row >        
                      <ion-row style="margin-top: -4px;">          
                        <ion-col size=2 style="text-align: end;padding-left: 0px;margin-top: 3px;padding-bottom: 0px;">
                          <img style="width: 66%;height: 66%;" src="../../../assets/calendario.svg">          
                        </ion-col>          
                        <ion-col size=10 style="text-align: start;">            
                          <ion-label class="text-helvetica">
                            {{ contrato.date_planned |date:'EEE d MMM y' | lowercase}}
                          </ion-label>
                        </ion-col>        
                      </ion-row>        
                      <ion-row style="margin-top: -3px;">        
                        <ion-col size=2  style="text-align: end;padding-left: 0px;margin-top: 3px;padding-bottom: 0px;">        
                          <img style="width: 66%;height: 66%;" src="../../../assets/hora.svg">        
                        </ion-col>        
                        <ion-col size=6.5  style="text-align: start;">        
                          <ion-label class="text-helvetica" style="margin-left: 0px;">
                            {{contrato.time |date: 'h:mm a' }} </ion-label>
                        </ion-col>        
                        <ion-col size=3.5  style="text-align: end;padding-left: 0px;margin-top: 3px;padding-bottom: 0px;">        
                      
                         <ion-icon id="icocheck" name="checkmark" color="tertiary" style="width: 71%;height: 71%;"></ion-icon>
      
                        </ion-col>        
                      </ion-row>        
                    </ion-col>        
                  </ion-row>       
            </div>       
          </ion-list>       
        </ion-col>    
        <ion-col size=0.5> 
        </ion-col> 
      </ion-row>    
    </ion-grid>
  </div>
</ion-content>
