<ion-header >
  <div id="barraSuperior">
    <div id="barraInferior">
      <ion-row>
      
        <ion-col size=3 >
          <img  id="logo"  src="../../assets/logoNavbar.png">
      
        </ion-col>
        
      
       
         <ion-col size=6>
          <h2 style="text-align: center;color: rgb(246, 183, 118);">Servicios</h2>
      
         </ion-col>
        
       </ion-row>
    </div>
  
  </div> 
   <div id="ServHist">
  <ion-segment  (ionChange)="segChange($event)" 
                style="color: rgb(49 ,49 ,57);"
                color="dark">
                 
     
  
  <ion-segment-button value="servicio">
  <ion-label style="color: rgb(49 ,49 ,57)">Contratados</ion-label>
  
  
  
  </ion-segment-button>
  <ion-segment-button value="historial">
  <ion-label style="color: rgb(49 ,49 ,57)">Historial</ion-label>
  </ion-segment-button>
  
  </ion-segment>
  </div>
  

</ion-header>



<ion-content >



 <!--  <ion-list  *ngIf="verservicios">
    <ion-item  
              *ngFor="let contratados of contratadosList ">
        
       
     
      
     <ion-grid >
     <ion-row>
     <ion-col size=5>
    
      <img src="../../assets/av-6.png">
     
     </ion-col>
     <ion-col size=7>
     <ion-row>
     
      <h6> FONTANERIA XX</h6>
       </ion-row>
    

     <ion-row style="margin-top: 7px;">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-label style="margin-left: 5px;">Fecha: {{contratados.date_planned}}</ion-label>
     </ion-row>
     <ion-row style="margin-top: 6px;">
      <ion-icon name="time"  color="primary"></ion-icon>
      <ion-label style="margin-left: 5px;">Hora: {{contratados.time}}</ion-label>
     </ion-row>
     
     <ion-row style="margin-top: 6px;">
      <ion-icon name="build" color="primary"></ion-icon>
      <ion-label style="margin-left: 5px;">Tipo: {{contratados.budget}} €</ion-label>
     </ion-row>

     </ion-col>
     </ion-row>
     </ion-grid>
     
     </ion-item>
   </ion-list>   
 
 
    
 -->
 <div *ngIf="verservicios">
  <ion-grid >
    <ion-row>
      <ion-col size=1>
    
      </ion-col>
    
    <ion-col size=10>
      <ion-list>
        <div id="item" *ngFor="let contratados of contratadosList ,let i = index"
               (click)="in(i)"
              >
        
        
        
        
        
        <ion-row>
      
        <ion-col   size=3 *ngIf="contratados.type == 'Servicio de Fontanería'">
           
          <img  id="imagen" src="../../assets/f.jpg">
        </ion-col>
    
      <!--   <ion-col size=3 *ngIf="Solicitud.type == 'Servicio de Electricidad'">
          <img src="../../assets/av-6.png">
        </ion-col> -->
        
        <ion-col size=9>
        
        <ion-row>
         <ion-col size=8>
          <h6> {{contratados.title | uppercase}}</h6>
         </ion-col>
            
            
            <ion-col size=4>
              <ion-row style="margin-top: 5px">
                <p style="font-size: xx-small; ">{{contratados.date |date:"d-M-y" }}</p>
         
              </ion-row>
             
          </ion-col>
        
        </ion-row >
        <ion-row>
          <ion-col size=1>
            <ion-icon name="calendar" color="primary"></ion-icon>
         
          
          </ion-col>
          <ion-col size=11>
            <ion-label style="margin-left: 5px;">{{ contratados.date_planned |date:'EEE d.MMM y' | lowercase}} </ion-label>
            <!-- <p >{{this.diasSemana[this.fecha.getDay()]}},{{this.fecha  |  date:"dd MMMM yyyy"}} </p> -->
           
          </ion-col>
          
           
          
          
        </ion-row>
          <ion-row style="margin-top: 1px;">
            <ion-col size=1>
              <ion-icon name="time" color="primary" ></ion-icon>
            </ion-col>
            <ion-col size=7>
              <ion-label style="margin-left: 5px;"> {{contratados.time |date: 'h:mm a' }}</ion-label>
           
            </ion-col>
  
            <ion-col size=4>
              <ion-label style="margin-left: 7px; color: rgb(246, 183, 118); font-size: 20px;">{{contratados.budget}} €</ion-label>
       
            </ion-col>
           
          </ion-row>
        
         </ion-col>
         </ion-row>
    
        </div>
        </ion-list>   
        
    </ion-col>
    
    
      <ion-col size=1>
    
      </ion-col>
    </ion-row>
    
    </ion-grid>
 </div>
 
   
</ion-content>
