<ion-header>
  <div id="barraSuperior">
   
    <div id="barraInferior">
      <ion-row>
      
        <ion-col size=3 >
          <img  id="logo"  src="../../assets/logoNavbar.png">
      
        </ion-col>
        
      
       
         <ion-col size=6>
          <h2 style="text-align: center;color: rgb(246, 183, 118);">Servicios</h2>
       
        
         </ion-col>
        
       </ion-row>

       <ion-row>
         <ion-col size=2></ion-col>
         <ion-col size=8 style="text-align: center;">
          <ion-label style="color:  rgb(49 ,49 ,57);">{{servicio}}</ion-label>
         </ion-col>
         <ion-col size=2>
          <ion-icon  name="close" style=" width: 28px;height: 28px;margin-top: -3px;color: rgb(49 ,49 ,57)"
          (click)="cerrarsolicitud()"></ion-icon>
         </ion-col>
       </ion-row>
       
        
    </div>
   
   
  </div>



</ion-header> 

<ion-content>
  <div id="barra">
    <ion-label >Direccion en que se realiza el servicio</ion-label>
  </div>
 <ion-grid>

  <ion-item style="margin-top:35px ;"
  >
   <ion-checkbox mode="ios"
   [(ngModel)]="Autofill"
   [ngModelOptions]="{standalone: true}"
   (ionChange)="autofillChange()"

                 
   ></ion-checkbox>
<ion-label style="margin-left: 20px;">Direccion personal</ion-label>
 </ion-item>

 

 <form #formulario="ngForm" >

  <ion-row style="margin-top:25px ;">
   

    <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
    <ion-col size="5">
      <ion-input  id="in"
                  name="calle"
                  type="text"
                  placeholder="Calle"
                  [(ngModel)]="calle"
                  required></ion-input>
                </ion-col>
            
                <ion-col size="5" 
                          style="margin-left: 15px;">
                  <ion-input id="in" name="piso"
                              type="number"
                              placeholder="Piso"
                              [(ngModel)]="piso"
                              required></ion-input>
                            </ion-col>
              
                            <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
    
   </ion-row>
 
   <ion-row>
    <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
    <ion-col size="5">
      <ion-input id="in" name="numero"
                  type="number"
                  placeholder="Numero"
                  [(ngModel)]="numero"
                  required></ion-input>
                </ion-col>
            
                <ion-col size="5"   style="margin-left: 15px;">
                  <ion-input id="in" name="puerta"
                              type="number"
                              placeholder="Puerta"
                              [(ngModel)]="puerta"
                              required></ion-input>
                            </ion-col>
              
                            <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
    
   </ion-row>
 
   <ion-row>
    <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
    <ion-col size="5">
      <ion-input id="in" name="portal"
                  type="number"
                  placeholder="Portal"
                  [(ngModel)]="portal"
                 ></ion-input>
                </ion-col>
            
                <ion-col size="5"   style="margin-left: 15px;">
                  <ion-input id="in" name="cod_postal"
                              type="number"
                              placeholder="Cod.Postal"
                              [(ngModel)]="cod_postal"
                              required></ion-input>
                            </ion-col>
              
                            <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
   </ion-row>
 
   <ion-row>
    <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
    <ion-col size="5">
      <ion-input id="in" name="escalera"
                  type="number"
                  placeholder="Escalera"
                  [(ngModel)]="escalera"
                  ></ion-input>
                </ion-col>
            
                <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
                
                 
                  <ion-col size="3" style="text-align: end; margin-top: 5px;" >
                    <div>
                      <img   id="logo1"  
                               (click)="ubicacion()"
                              src="../../assets/ubicacion.png"
                      > 
                    </div>
                  </ion-col>
 
                 
                  <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
                            
              
               
   </ion-row>
 
 </form>
  
 

  <ion-row style="margin-top: 50px;">
    <ion-col ></ion-col>
    <ion-col>
       <ion-button (click)="goto()"
       [disabled]="formulario.invalid && !Autofill || !coordenadas"
      >
      Siguiente
    </ion-button> </ion-col>
    
    <ion-col></ion-col>
  </ion-row>


</ion-grid>


</ion-content>
