<ion-header>
  <div id="barraSuperior">
   
    
    <div id="barraInferior">
    
     <img  id="logo" slot="start" src="../../assets/logoNavbar.png">
     
    
    
    </div>
    <h2 style="text-align: center; margin-top: 2px; color: rgb(49 ,49 ,57);">Solicitudes</h2>
    
  </div>
  <div id="barra">
   
    <ion-label >Direccion en que se realiza el servicio</ion-label>
 
 
 
 </div>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-item style="margin-top:35px ;">
     <ion-checkbox mode="ios"
                   
     ></ion-checkbox>
 <ion-label style="margin-left: 20px;">Llenar con los datos de mi direccion</ion-label>
   </ion-item>
 
   
 
   
    <ion-row style="margin-top:25px ;">
     
 
     <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
     <ion-col size="5">
       <ion-input name="calle"
                   type="text"
                   placeholder="No. de calle"
                   [(ngModel)]="calle"
                   ></ion-input>
                 </ion-col>
             
                 <ion-col size="5" 
                           style="margin-left: 15px;">
                   <ion-input name="piso"
                               type="text"
                               placeholder="Piso"
                               [(ngModel)]="piso"
                               ></ion-input>
                             </ion-col>
               
                             <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
     
    </ion-row>
 
    <ion-row>
     <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
     <ion-col size="5">
       <ion-input name="numero"
                   type="text"
                   placeholder="Numero"
                   [(ngModel)]="numero"
                   ></ion-input>
                 </ion-col>
             
                 <ion-col size="5"   style="margin-left: 15px;">
                   <ion-input name="puerta"
                               type="text"
                               placeholder="Puerta"
                               [(ngModel)]="puerta"
                               ></ion-input>
                             </ion-col>
               
                             <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
     
    </ion-row>
 
    <ion-row>
     <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
 
     <ion-col size="5">
       <ion-input name="portal"
                   type="text"
                   placeholder="Portal"
                   [(ngModel)]="portal"
                   ></ion-input>
                 </ion-col>
             
                 <ion-col size="5"   style="margin-left: 15px;">
                   <ion-input name="cod_postal"
                               type="text"
                               placeholder="Cod.Postal"
                               [(ngModel)]="cod_postal"
                               ></ion-input>
                             </ion-col>
               
                             <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
  
    </ion-row>
 
    <ion-row>
     <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
  
     <ion-col size="5">
       <ion-input name="escalera"
                   type="text"
                   placeholder="Escalera"
                   [(ngModel)]="escalera"
                   ></ion-input>
                 </ion-col>
             
                 <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
  
                 
                  
                   <ion-col size="3" style="text-align: end; margin-top: 5px;" >
                     <div>
                       <img   id="logo1"  src="../../assets/ubicacion.png"> 
                     </div>
                   </ion-col>
 
                  
                   <ion-col size="1" style="background: rgb(251, 252, 252);"></ion-col>
  
                             
               
                
    </ion-row>
 
   
                 
    <ion-row>
     <ion-col style="text-align: center;margin-top: 65px;">
       <ion-button id="btnS"type="submit"
                color="primary"
                (click)="onclick()"
                routerLink='/comentario'>
     Siguiente
       </ion-button>
     </ion-col>
   </ion-row>
                
 
 
 </ion-grid>
</ion-content>
