
 <app-header headerText="Solicitudes" [fillBackground]="true"
[expandHeader]="true" expandText="{{servicio}}"
(clickedClose)="cerrarsolicitud($event)"></app-header>

<div id="barra" slot="fixed">
  <ion-label >Direccion donde se realiza el servicio</ion-label>
</div>

 <ion-content>

 <ion-grid>

  <ion-item style="margin-top:25px ;"
  >
   <ion-checkbox mode="ios"
   [(ngModel)]="Autofill"
   [ngModelOptions]="{standalone: true}"
   (ionChange)="autofillChange()"

                 
   ></ion-checkbox>
<ion-label style="margin-left: 20px;">Direccion personal</ion-label>
 </ion-item>

 

 <form #formulario="ngForm" >

  <ion-row style="margin-top:25px ;">
   

    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
 
    <ion-col size="10">
      <ion-input  id="inc"
                  name="calle"
                  type="text"
                  placeholder="Calle"
                  [(ngModel)]="calle"
                  required
                  [disabled]="Autofill"></ion-input>
                </ion-col>
            
               
              
      <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
    
   </ion-row>
 
   <ion-row>
    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
 
    <ion-col size="5">
      <ion-input id="in" name="numero"
                  type="number"
                  placeholder="Numero"
                  [(ngModel)]="numero"
                  required
                  [disabled]="Autofill"></ion-input>
                </ion-col>
            
                <ion-col size="5"   style="margin-left: 15px;">
                  <ion-input id="in" name="puerta"
                              type="number"
                              placeholder="Puerta"
                              [(ngModel)]="puerta"
                              required
                              [disabled]="Autofill"></ion-input>
                            </ion-col>
              
                            <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
    
   </ion-row>
 
   <ion-row>
    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
 
    <ion-col size="5">
      <ion-input id="in" name="portal"
                  type="number"
                  placeholder="Portal"
                  [(ngModel)]="portal"
                  [disabled]="Autofill"></ion-input>
                </ion-col>
            
                <ion-col size="5"   style="margin-left: 15px;">
                  <ion-input id="in" name="cod_postal"
                              type="number"
                              placeholder="Cod.Postal"
                              [(ngModel)]="cod_postal"
                              required
                              [disabled]="Autofill"></ion-input>
                            </ion-col>
              
                            <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
 
   </ion-row>
 
   <ion-row>
    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
 
    <ion-col size="5">
      <ion-input id="in" name="escalera"
                  type="text"
                  placeholder="Escalera"
                  [(ngModel)]="escalera"
                  [disabled]="Autofill"></ion-input>
                </ion-col>

                <ion-col size="5" 
                style="margin-left: 15px;">
        <ion-input id="in" name="piso"
                    type="number"
                    placeholder="Piso"
                    [(ngModel)]="piso"
                    
                    [disabled]="Autofill"></ion-input>
                  </ion-col>
            
                <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
       
   </ion-row>

   <ion-row>
    <ion-col size="1" style="background: rgb(255, 255, 255);"></ion-col>
    <ion-col size="3" style="text-align: end; margin-top: 5px;background: rgb(255, 255, 255);" >
      <div >
     <ion-card id="logo1" 
               [disabled]="Autofill"
               (click)="ubicacion()">
      <img   style=" width: 39px;
                     height: 39px;"   
                     src="../../assets/ubicacion.svg"
     >
     </ion-card>
      
    
      

      </div>
    </ion-col>

   
    <ion-col size="8" style="background: rgb(255, 255, 255);"></ion-col>

   </ion-row>
 
 </form>
  
 

  <ion-row >
    <ion-col ></ion-col>
    <ion-col>
       <ion-button id="boton" (click)="goto()"
       [disabled]="(formulario.invalid || !coordenadas) && !Autofill  "
      >
      Siguiente
    </ion-button> </ion-col>
    
    <ion-col></ion-col>
  </ion-row>


</ion-grid>


</ion-content>
<!-- [disabled]="formulario.invalid && !Autofill || !coordenadas" -->