<app-header headerText="Solicitudes" [fillBackground]="false"
class="animated fadeIn"></app-header>

<ion-content class="animated fadeIn">
  <ion-fab vertical="bottom" style="margin-right: 10px;"
    horizontal="end" 
    slot="fixed"
    (click)="irSolicitud()" 
    >
    <ion-fab-button>
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid routerLink="/ofertas" style="padding-left: 30px; padding-right: 30px;">
    <ion-list>  
      <app-solicitud 
        *ngFor="let Solicitud of solicitudesList; let i = index"
        (click)="in(i)"              
        [Solicitud]="this.Solicitud">
      </app-solicitud>
    </ion-list>    
  </ion-grid>
</ion-content>
