<app-header headerText="Solicitudes" [fillBackground]="false"
class="animated fadeIn"></app-header>

<ion-content class="animated fadeIn">
  
    
    
  <ion-fab vertical="bottom" style="margin-right: 10px;"
    horizontal="end" 
    slot="fixed"
    (click)="irSolicitud()" 
    >
    <ion-fab-button>
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  

  <ion-row>
    <ion-col size=0.2 style="padding: 0px;">      
    </ion-col>
    <ion-col size=11.6 style="padding: 0px;">
      <ion-list>  

    <ion-item-sliding  *ngFor="let Solicitud of solicitudesList; let i = index">
        
    <ion-item  lines="none" style="padding: 0px;">  
        <app-solicitud 
        (click)="in(i)"              
        [Solicitud]="this.Solicitud"
        routerLink="/ofertas"
        style="width: 100%;">
        </app-solicitud>
  
    </ion-item>
              <ion-item-options side="end" style="padding: 0px;">
            <ion-item-option (click)="cancelar(i)"
                              color="tertiary" expandable>cancelar</ion-item-option>
          </ion-item-options> 
        </ion-item-sliding>

      </ion-list>    
    </ion-col>
    <ion-col size=0.2 style="padding: 0px;">      
    </ion-col>
  </ion-row>

 


  
</ion-content>
