<ion-header >
  <div id="barraSuperior">
    <div id="barraInferior">
    
     <img  id="logo" slot="start" src="../../assets/logoNavbar.png">
    
    </div>
    <h2 style="text-align: center; margin-top: 2px;color: rgb(49 ,49 ,57);">Solicitudes</h2>
    
  </div>
  
</ion-header>

<ion-content >
  <ion-fab vertical="bottom" 
  horizontal="end" 
  slot="fixed"
  routerLink='/materiales'>
<ion-fab-button>
<ion-icon name="add"></ion-icon>
</ion-fab-button>
</ion-fab>





<ion-list>
<ion-item *ngFor="let Solicitud of solicitudesList ,let i = index"
       (click)="in(i)">




<ion-grid routerLink="/ofertas">
<ion-row>
<ion-col>
<ion-avatar>
<img src="../../assets/av.png">
</ion-avatar>
</ion-col>
<ion-col>
<ion-row>

<h6>  {{i+1}}.{{Solicitud.title}}</h6>
<ion-label style="margin-left: 5px;">{{Solicitud.title}}</ion-label> 
</ion-row>
<ion-row>
<ion-icon name="build"></ion-icon>
<ion-label style="margin-left: 5px;">Tipo: {{Solicitud.type}}</ion-label>
</ion-row>
<ion-row>
<ion-icon name="calendar"></ion-icon>
<ion-label style="margin-left: 5px;">Fecha: {{Solicitud.date_planned }}</ion-label>
</ion-row>
<ion-row>
<ion-icon name="time" ></ion-icon>
<ion-label style="margin-left: 5px;">Hora: {{Solicitud.time}}</ion-label>
</ion-row>

</ion-col>
</ion-row>
</ion-grid>

</ion-item>
</ion-list>   


</ion-content>
