<ion-header >
  <ion-toolbar>
    
      <ion-icon name="close" slot="end"
      
       style="margin-top: 15px;width: 35px; height: 35px;color: rgb(246, 183, 118);" ></ion-icon>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <ion-card  style="margin-top: 150px; border: 0.5px solid  rgb(246, 183, 118); width: 93%;height: 100%px;border-radius: 5px 5px 5px 5px;">
      <img src="{{task.photoNewTaskArray[2]}}"  onError="this.src='assets/noImage.png'">
    </ion-card>
  </div>
 
</ion-content>
